<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Renacer Farmacista</title>
    <link rel="icon" href="/img/Login/icono.png"/>
    <link rel="stylesheet" href="/css/Farmacista/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  </head>

  <body>
    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
      <!-- Vertical Navbar -->
      <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
           id="navbarVertical">
        <div class="container-fluid">
          <!-- Toggler -->
          <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                  data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Brand -->
          <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/farmacista'}">
            <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                    src="/img/Login/icono.png" width="40" class="pr-6">
              <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
            </h3>
          </a>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="sidebarCollapse">
            <!-- Navigation -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/farmacista'}">
                  <i class="bi bi-house"></i> Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/farmacista/ordenes-linea'}">
                  <i class="bi bi-bar-chart "></i> Órdenes en línea
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/farmacista/ordenes-venta'}">
                  <i class="bi bi-bag-check"></i> Órdenes de venta
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/farmacista/chat'}">
                  <i class="bi bi-chat-left"></i> Chat
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'/login'}">
                  <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Main content -->
      <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
          <div class="container-fluid">
            <div class="mb-npx">
              <div class="row align-items-center mb-5">
                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                  <!-- Title -->
                  <h2 class="mb-0 ls-tight">
                    <img src="/img/Farmacista/profile-3.jpeg" width="40"> Bienvenido, <span
                          class="text-primary">Farmacista Javier Marroquin</span></h2>
                </div>
                <!-- Actions -->
                <div class="col-sm-4 col-12 text-sm-end">
                  <div class="mx-n1">
                    <a th:href="@{'/farmacista/perfil'}"
                       class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-person-gear"></i>
                                    </span>
                      <span>Mi perfil</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary ">
          <div class="container-fluid d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center card shadow px-6 py-4"
                 style="width: 35rem; height: 28rem;">
              <div class="row row-cols-1 ">
                <div class="col text-center pb-5">
                  <h2><strong>Cambio de contraseña</strong></h2>
                </div>

                <!--Cambiar contraseña con validaciones en js-->
                <!-- Parrafo de error -->
                <p id="passwordError" class="text-danger"></p>
                <!-- Parrafo de éxito -->
                <p id="successMessage" class="text-success"></p>


                <div class="col">
                  <form id="passwordForm" class="needs-validation" th:href="@{'/farmacista/cambiar-contra'}" novalidate>
                    <div class="mb-3">
                      <label for="newPassword" class="form-label">Nueva contraseña</label>
                      <input
                              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_-]).{8,}$"
                              type="password" class="form-control" id="newPassword"
                              placeholder="Ingresa la nueva contraseña" required>
                    </div>
                    <div class="mb-3">
                      <label for="confirmPassword" class="form-label">Confirma la contraseña</label>
                      <input
                              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_-]).{8,}$"
                              type="password" class="form-control" id="confirmPassword"
                              placeholder="Confirma contraseña" required>
                    </div>
                    <div class="pt-3 d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary" style="margin-right: 5px">Guardar</button>
                      <a th:href="@{'/farmacista/perfil'}" class="btn btn-danger btn-xs" role="button" >Volver</a>
                    </div>
                  </form>
                </div>



              </div>

            </div>
          </div>


        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="/js/Farmacista/script.js"></script>
    <script src="/js/Superadmin/newPassword.js"></script>
  </body>
</html>
