<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Renacer Farmacista</title>
    <link rel="icon" href="/img/Login/icono.png"/>
    <link rel="stylesheet" href="/css/Farmacista/style.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <style>
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #94a6b3;
            border-color: #94a6b3;
        }
        .form-control, .form-select {
            color: #525F7F;
        }
    </style>
</head>

<body>
    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Vertical Navbar -->
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
            id="navbarVertical">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/farmacista'}">
                    <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                            src="/img/Login/icono.png" width="40" class="pr-6">
                        <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                    </h3>
                </a>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" style="background: #F5F9FC" th:href="@{'/farmacista'}">
                                <i class="bi bi-house btn" role="button" data-bs-toggle="button"></i> Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/farmacista/ordenes-linea'}">
                                <i class="bi bi-bar-chart "></i> Órdenes en línea
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/farmacista/ordenes-venta'}">
                                <i class="bi bi-bag-check"></i> Órdenes de venta
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/farmacista/chat'}">
                                <i class="bi bi-chat-left"></i> Chat
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/login'}">
                                <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Header -->
            <header class="bg-surface-primary border-bottom pt-6">
                <div class="container-fluid">
                    <div class="mb-npx">
                        <div class="row align-items-center mb-5">
                            <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                <!-- Title -->
                                <h2 class="mb-0 ls-tight">
                                    <img src="/img/Farmacista/profile-3.jpeg" width="40"> Bienvenido, <span
                                        class="text-primary">Farmacista Javier Marroquin</span></h2>
                            </div>
                            <!-- Actions -->
                            <div class="col-sm-4 col-12 text-sm-end">
                                <div class="mx-n1">
                                    <a th:href="@{'/farmacista/perfil'}"
                                       class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-person-gear"></i>
                                    </span>
                                        <span>Mi perfil</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- Main -->
            <form method="post" th:action="@{/farmacista/guardarOrden}">
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    <div class="card shadow border-0 mb-7">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                    <h3 class="mb-0 ls-tight"> Lista de medicinas </h3>
                                </div>
                                <!-- Actions -->
                                <!--<div class="col-sm-6 col-12 d-flex align-items-center justify-content-end">

                                    <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1 align-items-center"
                                       data-bs-toggle="modal" data-bs-target="#modalGenerarCompra">
                                        <span class="pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                        <span>Generar compra</span>
                                    </a>
                                </div>-->
                            </div>
                        </div>
                        <!--TABLA-->
                        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                        <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                        <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>
                        <div class="container table-responsive mb-4">
                            <table id="example" class="table table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col">Imagen</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Cantidad disponible</th>
                                        <th scope="col">Precio x unid (S/.)</th>
                                        <th scope="col">Cantidad solicitada</th>
                                        <th scope="col">Precio Total</th>
                                        <!--<th scope="col">Anadir</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto,obj : ${listaProductos}">
                                        <input type="hidden" name="listaIdsProductos" th:value="${producto.productos.idProductos}">
                                        <td>
                                            <a class="text-heading font-semibold" href="#">
                                                <img th:src="@{|/imageProduct/${producto.productos.idProductos}|}" alt="medicina1" style="height: 80px;">
                                            </a>
                                        </td>
                                        <td th:text="${producto.productos.nombre}"></td>
                                        <td>
                                            50
                                        </td>
                                        <td th:text="${producto.productos.precio}"></td>
                                        <td>
                                            <input type="number" placeholder="0" name="listaCantidades" value="0">
                                        </td>
                                        <td>
                                            100
                                        </td>
                                        <!-- <td class="text-end">
                                            <input class="form-check-input" type="checkbox" id="miCheckbox" name="checkbox" >
                                            <label class="form-check-label" for="miCheckbox">
                                                Selecciona esto
                                            </label> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-footer border-0 py-5 mx-auto text-center">
                                <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1" data-bs-toggle="modal"
                                   data-bs-target="#modalGenerarCompra">
                                <span class=" pe-2">
                                    <i class="bi bi-plus"></i>
                                </span>
                                    <span>Generar compra</span>
                                </a>
                            </div>
                            <!-- Modal Generar compra -->
                            <div class="modal fade" id="modalGenerarCompra" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Ingresa los datos del
                                                paciente que comprará los medicamentos seleccionados</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>


                                        <div class="modal-body row">

                                            <div class="row pt-5">
                                                <input type="hidden" name="correo" value="name@example.com">
                                                <div class="col">
                                                    <label for="nombre">Nombre:</label>
                                                    <input type="text" class="form-control" placeholder="Nombre del paciente" name="nombre" id="nombre">
                                                </div>

                                                <div class="col">
                                                    <label for="dni">DNI:</label>
                                                    <input type="text" class="form-control" placeholder="DNI del paciente" name="dni" id="dni">
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="edad">Edad:</label>
                                                    <input type="number" class="form-control" placeholder="Edad del paciente" name="edad" id="edad">
                                                </div>


                                                <div class="col">
                                                    <label for="seguro">¿Tiene seguro?</label>
                                                    <select id="seguro" class="form-select" name="seguro">
                                                        <option selected th:value="'si'">Sí</option>
                                                        <option th:value="'no'">No</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="doctor">Doctor:</label>
                                                    <select id="doctor" class="form-select" name="idDoctor">
                                                        <option th:each="doctor, obj : ${listaDoctores}" th:text="${doctor.nombre}" th:selected="${obj.index} == 0" th:value="${doctor.idUsuario}"></option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label>Fecha de entrega:</label>
                                                    <input name="fechaEntregaStr" type="date" class="form-control"
                                                           placeholder="Ingresa la fecha de entrega">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" >Generar Boleta</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Modal generar boleta exitosamente-->

                            <div class="modal fade" id="modalGenerarBoleta" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">Resumen de compra #123
                                            </h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body row">

                                            <div class="row pt-2">
                                                <div class="col" style="display: flex; align-items: center;">
                                                    <label for="nombre">Nombre:</label>
                                                    <p style="margin-left: 10px;">Juan Martinez</p>
                                                </div>
                                            </div>


                                            <div class="row pt-2">
                                                <div class="col" style="display: flex; align-items: center;">
                                                    <label for="doctor">Doctor:</label>
                                                    <p style="margin-left: 10px;">Doctor 1</p>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <table>
                                                        <tr>
                                                            <th>Medicamento</th>
                                                            <th style="padding-left: 30px;">Costo (S/.)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>10 unidades del Medicamento 1</td>
                                                            <td style="padding-left: 30px;">10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>10 unidades del Medicamento 2</td>
                                                            <td style="padding-left: 30px;">5</td>
                                                        </tr>
                                                        <!-- Línea divisora -->
                                                        <tr>
                                                            <td colspan="2">
                                                                <hr>
                                                            </td>
                                                        </tr>
                                                        <!-- Total -->
                                                        <tr>
                                                            <th style="padding-left: 30px; text-align: right;">Total</th>
                                                            <th style="padding-left: 30px;">15</th>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="pago">Seleccionar medio de pago:</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios1" value="option1"
                                                            checked>
                                                        <label for="exampleRadios1">
                                                            Tarjeta
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios2" value="option2">
                                                        <label for="exampleRadios2">
                                                            Efectivo
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary" >Generar Orden</button>
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Modal generar orden de venta exitosamente-->
                            <div class="modal fade" id="generarOrdenVenta" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="text-center">Se ha generado la orden 123</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary"
                                                data-bs-dismiss="modal">Ok</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            </form>
        </div>
    </div>

<!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>-->
    <script src="/js/Farmacista/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Superadmin/table.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
    <!---->
    <!--<script src="/js/Farmacista/controladorTabla.js"></script>-->
</body>

</html>