<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer SuperAdmin</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
                 id="navbarVertical">
                <div class="container-fluid">
                    <!-- Toggler -->
                    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/superadmin'}">
                        <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                                src="/img/Superadmin/icono.png" width="40" class="pr-6">
                            <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                        </h3>
                    </a>

                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidebarCollapse">
                        <!-- Navigation -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/superadmin'}">
                                    <i class="bi bi-house"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/superadmin/inventario'}">
                                    <i class="bi bi-clipboard"></i> Inventario
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/superadmin/orden-reposicion'}">
                                    <i class="bi bi-bag-plus"></i> Órdenes de reposición
                                </a>
                            </li>
                            <li class="nav-item">
                                <form th:action="@{/logout}" method="post">
                                    <button class="nav-link" type="submit" style="background: none; padding: 0; cursor: pointer ">
                                        <i class="bi bi-box-arrow-left" ></i> Cerrar sesión
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center mb-5">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <!-- Title -->
                                    <h1 class="h2 mb-0 ls-tight">
                                        <img src="/img/Superadmin/profile-3.jpeg" width="40"> Mi perfil, <span
                                            class="text-primary" th:text="'SuperAdmin ' + ${session.usuario.nombre}"></span></h1>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-sm-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/superadmin/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary ">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center card shadow px-5 py-2"
                             style="width: 35rem">
                            <div class="row row-cols-1 ">
                                <div class="col text-center pt-1 pb-5">
                                    <h2><strong>Tu perfil</strong></h2>
                                    <hr>
                                </div>
                                <div class="row d-flex pb-5">

                                    <div class="col text-center d-flex justify-content-center align-items-center">
                                        <img src="/img/Superadmin/profile-3.jpeg" alt="" width="180"
                                             class="rounded-circle">
                                    </div>
                                    <div class="col mt-4" style="margin:0px 5px">
                                        <span th:text="'Nombre:  ' + ${superadmin.nombre}"></span>
                                        <br>
                                        <span th:text="'DNI:  ' + ${superadmin.dni}"></span>
                                        <br>
                                        <span th:text="'Distrito de residencia: ' + ${superadmin.distritoResidencia}"></span>
                                        <br>
                                        <span th:text="'Correo:  ' + ${superadmin.correo}"></span>
                                    </div>
                                </div>

                                <hr>

                                <div class="col d-flex justify-content-center align-items-center pt-2 pb-3">
                                    <a th:href="@{'/superadmin/cambiar-contra'}" class="btn btn-primary btn-xs"
                                       role="button" style="margin-right: 10px">Cambiar Contraseña</a>
                                    <a th:href="@{'/superadmin/editar-perfil'}" class="btn btn-primary btn-xs"
                                       role="button">Editar Perfil</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
        <script src="/js/Superadmin/script.js"></script>
    </body>
</html>
