<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clínica Renacer SuperAdmin</title>
    <link rel="icon" href="/img/Login/icono.png" />
  <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <style>
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #94a6b3;
            border-color: #94a6b3;
        }
    </style>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/superadmin'}">
                <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                        src="/img/Superadmin/icono.png" width="40" class="pr-6">
                    <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                </h3>
            </a>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/superadmin'}">
                            <i class="bi bi-house"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background: #F5F9FC" th:href="@{'/superadmin/inventario'}">
                            <i class="bi bi-clipboard btn" role="button" data-bs-toggle="button"></i> Inventario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/superadmin/orden-reposicion'}">
                            <i class="bi bi-bag-plus"></i> Órdenes de reposición
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:action="@{'/logout'}">
                            <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                        </a>
                    </li>  
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center mb-5">
                        <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">
                                <img src="/img/Superadmin/profile-3.jpeg" width="40"> Bienvenido, <span class="text-primary" th:text="'S.Admin ' + ${session.usuario.nombre}"></span></h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-4 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a th:href="@{'/superadmin/perfil'}" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                    <span>Mi perfil</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-sm-6 col-12 mb-4 mb-sm-0" style="display: flex">
                                <h3 class="mb-0 ls-tight" style="padding-right: 8px"> <a class="text-heading" th:href="@{'/superadmin/inventario'}">
                                    Inventario</a> </h3>
                                <h3 class="text-success"> > Estado de reposición </h3>
                            </div>

                        </div>
                    </div>
                    <!--TABLA-->
                    <div class="container table-responsive mb-4">
                        <table id="example" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Código</th>
                                    <th scope="col" class="text-center">Medicina</th>
                                    <th scope="col" class="text-center">Cantidad</th>
                                    <th scope="col" class="text-center">Sede</th>
                                    <th scope="col" class="text-center">Estado de envío</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        09273166
                                    </td>
                                    <td class="text-center">
                                        Paracetamol
                                    </td>
                                    <td class="text-center">
                                        100
                                    </td>
                                    <td class="text-center">
                                        San Miguel 1
                                    </td>
                                    <td class="text-center">
                                        En proceso
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        09273166
                                    </td>
                                    <td class="text-center">
                                        Paracetamol
                                    </td>
                                    <td class="text-center">
                                        100
                                    </td>
                                    <td class="text-center">
                                        San Miguel 1
                                    </td>
                                    <td class="text-center">
                                        En ruta
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        09273166
                                    </td>
                                    <td class="text-center">
                                        Paracetamol
                                    </td>
                                    <td class="text-center">
                                        100
                                    </td>
                                    <td class="text-center">
                                        San Miguel 1
                                    </td>
                                    <td class="text-center">
                                        En clínica
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        09273166
                                    </td>
                                    <td class="text-center">
                                        Paracetamol
                                    </td>
                                    <td class="text-center">
                                        100
                                    </td>
                                    <td class="text-center">
                                        San Miguel 1
                                    </td>
                                    <td class="text-center">
                                        En proceso
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal editar -->
                    <div class="modal fade" id="modaActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edición de datos del <br> <strong>producto</strong>:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body row">
                                
                                <div class="row pt-5">
                                    <div class="col">
                                        <label for="nombre">Nombre:</label>
                                        <input type="text" class="form-control" placeholder="Coloca su nombre">
                                    </div>
                                
                                    <div class="col">
                                        <label for="imagen">Subir imagen:</label>
                                        <input type="file" class="form-control" >
                                    </div>
                                </div>
                                
                                <div class="row pt-5">
                                    <div class="col">
                                        <label for="cantidad">Cantidad:</label>
                                        <input type="number" class="form-control" placeholder="Coloca la cantidad de medicamentos">
                                    </div>
                                    
    
                                    <div class="col">
                                        <label for="precio">Precio (s/.):</label>
                                        <input type="number" class="form-control" placeholder="Coloca el precio del medicamento">
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col">
                                        <label for="cantidad">Categoria:</label>
                                        <input type="text" class="form-control" placeholder="Antiflamatorio/Vitamina/etc">
                                    </div>
                                    
    
                                    <div class="col">
                                        <label for="precio">Fecha de vencimiento:</label>
                                        <input type="date" class="form-control" placeholder="Ingresa la fecha del vencimiento">
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col">
                                        <label for="cantidad">Descripción:</label>
                                        <textarea name="" class="form-control" id="cantidad" cols="30" rows="10"></textarea>
                                    </div>
                                </div>  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">Actualizar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Modal elminar -->
                    <div class="modal fade" id="modaBanear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">¿Esta seguro que desea eliminar este producto?</h1>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">Elminar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!--Modal agregado exitaosamente-->
                    <div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h2 class="text-center">Producto actualizado exitosamente.</h2>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!--Modal eliminado exitaosamente-->
                    <div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h2 class="text-center">Producto eliminado exitosamente.</h2>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>


    <script src="/js/Superadmin/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Superadmin/table.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>
</html>
