<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer SuperAdmin</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
        <style>
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }
        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav th:replace="~{Superadmin/fragments_superadmin/general.html :: navbar}"></nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <!-- Title -->
                                    <h2 class="mb-0 ls-tight">
                                        <img src="/img/Superadmin/profile-3.jpeg" width="40"> Bienvenido, <span
                                            class="text-primary">S.Admin.Robert Harry</span></h2>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-sm-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/superadmin/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>


                                    </div>
                                </div>
                            </div>
                            <!-- Nav -->
                            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                                <li class="nav-item ">
                                    <a th:href="@{'/superadmin'}" class="nav-link font-regular">Administrador de
                                        Sede</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/farmacistas'}" class="nav-link active">Farmacistas</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/doctores'}" class="nav-link font-regular">Doctores</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/pacientes'}" class="nav-link font-regular">Pacientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <div class="card shadow border-0 mb-7">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h3 class="mb-0 ls-tight"> Lista de Farmacistas </h3>
                                    </div>
                                    <!-- Actions -->
                                    <div class="col-sm-6 col-12 text-sm-end">
                                        <div class="mx-n1">
                                            <a th:href="@{'/superadmin/farmacistas/solicitudes'}"
                                               class="btn d-inline-flex btn-sm btn-success mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                                <span>Solicitudes de registro</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--TABLA-->
                            <div class="container table-responsive mb-4">
                                <!--Mensajes de eliminado y actualizado -->
                                <div class="row pt-3">
                                    <div th:if="${del != null}" th:text="${del}" class="alert alert-danger" role="alert"></div>
                                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                    <div th:if="${msg != null}" th:text="${err}" class="alert alert-success" role="alert"></div>
                                </div>
                                <table id="example" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Nombre</th>
                                            <th scope="col" class="text-center">Sede</th>
                                            <th scope="col" class="text-center">DNI</th>
                                            <th scope="col" class="text-center">Distrito de residencia</th>
                                            <th scope="col" class="text-center">Código</th>
                                            <th scope="col" class="text-center">Correo</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="farmacista,obj : ${listaFarmacistas}">
                                            <td>
                                                <img alt="..." src="/img/Superadmin/profile-3.jpeg"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <a th:text="${farmacista.nombre}" class="text-heading font-semibold" href="#">

                                                </a>
                                            </td>
                                            <td th:text="${farmacista.sedes.nombre}" class="text-center">

                                            <td th:text="${farmacista.dni}" class="text-center"></td>
                                            <td th:text="${farmacista.distritoResidencia}" class="text-center"></td>
                                            <td th:text="${farmacista.codigoColegio}" class="text-center">
                                            </td>
                                            <td th:text="${farmacista.correo}" class="text-center">
                                            </td>
                                            <td class="text-center">
                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-primary"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaActualizar'+ obj.index}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>

                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-danger"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaEliminar'+ obj.index}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <a href="#" class="btn btn-sm btn-square btn-secondary">
                                                     <i class="bi bi-gear-wide-connected"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <!-- Modal Actualizar -->
                            <div class="modal fade" th:each="farmacista, obj : ${listaFarmacistas}" th:id ="${'modaActualizar'+ obj.index}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Actualiza los datos del Farmacista:</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" th:action="@{/superadmin/guardarfarmacista}" class="needs-validation" novalidate>
                                        <div class="modal-body row">
                                            <input type="hidden" name="idUsuario" th:value="${farmacista.idUsuario}">
                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="nombre">Nombre:</label>
                                                    <input pattern="[A-Za-z].+" maxlength="80" id="nombre" type="text" class="form-control"
                                                           name="nombre" th:value="${farmacista.nombre}" required>
                                                </div>

                                                <div class="col">
                                                    <label for="correo">Correo:</label>
                                                    <input pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}"  id="correo" type="email" class="form-control"
                                                           name="correo" th:value="${farmacista.correo}" required>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>DNI:</label>
                                                    <input minlength="8" maxlength="8" id="numberInput" type="text" class="form-control" name="dni" th:value="${farmacista.dni}" required>
                                                </div>


                                                <div class="col">
                                                    <label>Código (colegio médico)</label>
                                                    <input minlength="8" maxlength="8" id="numberInput2" type="text" class="form-control" name="codigoColegio" th:value="${farmacista.codigoColegio}" required>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="distrito">Distrito de residencia</label>
                                                    <input maxlength="80" id="distrito" type="text" class="form-control" name="distritoResidencia" th:value="${farmacista.distritoResidencia}" required>
                                                </div>
                                                <div class="col">
                                                    <label for="sede">Sede:</label>
                                                    <select id="sede" class="form-select" name="idSedes" required>
                                                        <option th:value="${farmacista.sedes.idSedes}"
                                                                th:text="${farmacista.sedes.nombre}"
                                                                th:selected="${true}"
                                                        ></option>
                                                        <option th:each="sede : ${listaSedes}"
                                                                th:if="${farmacista.sedes.nombre != sede.nombre}"
                                                                th:value="${sede.idSedes}"
                                                                th:text="${sede.nombre}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Actualizar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Eliminar -->
                            <div class="modal fade" th:each="farmacista, obj : ${listaFarmacistas}" th:id ="${'modaEliminar'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content text-center">
                                        <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar al
                                            farmacista seleccionado?</h3>
                                        </div>
                                        <form method="post" th:action="@{/superadmin/eliminarfarmacistas}">
                                        <input type="hidden" name="idFarmacista" th:value="${farmacista.idUsuario}">
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">Eliminar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--Modal actualizar exitaosamente (NO SALE) -->
<!--                            <div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <h3 class="text-center">Farmacistas actualizado exitosamente.</h3>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Ok
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                            <!-- Modal eliminado exitosamente (NO SALE) -->
<!--                            <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <h3 class="text-center">Farmacista eliminado exitosamente.</h3>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Ok
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->


                        </div>
                    </div>
                </main>
            </div>
        </div>


        <script src="/js/Superadmin/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/Superadmin/table.js"></script>
        <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
        <script>
            new DataTable('#example');
        </script>
        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("numberInput").addEventListener("keydown", function(event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>
        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("numberInput2").addEventListener("keydown", function(event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
    </body>
</html>
