<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer SuperAdmin</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css">
        <style>
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }
            table.dataTable tbody tr.bg-red {
                background-color: #ffebf0 !important;
                border-color: #ffd6e0 !important;
                color: #e62e5c !important;
            }

        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav th:replace="~{Superadmin/fragments_superadmin/general.html :: navbar}"></nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0 d-flex align-items-center">
                                    <!-- Title -->
                                    <img th:src="@{|/imageUser/${superadmin.idUsuario}|}" width="40" class="avatar">
                                    <h3 class="mb-0 ls-tight mx-1">
                                         Bienvenido, <span
                                            class="text-primary" th:text="'S.Admin. ' + ${superadmin.nombre}"></span></h3>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/superadmin/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav -->
                            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                                <li class="nav-item ">
                                    <a th:href="@{'/superadmin'}" class="nav-link active">Administrador de Sede</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/farmacistas'}"
                                       class="nav-link font-regular">Farmacistas</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/doctores'}" class="nav-link font-regular">Doctores</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/pacientes'}" class="nav-link font-regular">Pacientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <div class="card shadow border-0 mb-7">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h3 class="mb-0 ls-tight">Lista de Administradores de Sedes </h3>
                                    </div>
                                    <!-- Actions -->
                                    <div class="col-sm-6 col-12 d-flex align-items-center justify-content-end">
                                        <button id="download-pdf" class="btn btn-danger d-inline-flex btn-sm mx-1">
                                             <span class=" pe-2">
                                                 <i class="bi bi-file-earmark-pdf"></i>
                                             </span>
                                            <span>Descargar PDF</span>
                                        </button>

                                        <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1 align-items-center"
                                           data-bs-toggle="modal" data-bs-target="#modalAgregar">
                                        <span class="pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                            <span>Agregar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal agregar -->
                            <div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form method="post" class="needs-validation" id="registerForm" th:action="@{/superadmin/guardarAdminSede}" novalidate>
                                            <input type="hidden" name="idUsuario" value="0">
                                            <input type="hidden" name="nombre" value="valid">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5">Ingrese los datos del
                                                nuevo <strong style="color:#5C60F5">Administrador de sede</strong></h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body row">

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>DNI:</label>
                                                    <input
                                                            id="dni"
                                                            minlength="8" maxlength="8"
                                                            type="text" class="form-control" placeholder="Ingrese el N° de DNI"
                                                            name="dni" required>
                                                    <div class="invalid-feedback" id="dniError">
                                                        El DNI debe tener 8 dígitos.
                                                    </div>
                                                    <div th:if="${errDNI != null}" th:text="${errDNI}" style="color: red" role="alert"></div>

                                                </div>
                                            </div>

                                            <!-- Nombre y apellidos autocompletados-->
                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label for="nombre">Nombres:</label>
                                                    <input pattern="[A-Za-z].+"
                                                           type="text" class="form-control" placeholder="Nombres"
                                                           id="nombre" disabled readonly>
                                                </div>

                                                <div class="col">
                                                    <label for="nombre">Apellidos:</label>
                                                    <input pattern="[A-Za-z].+"
                                                           type="text" class="form-control" placeholder="Apellidos"
                                                           id="apellido" disabled readonly>
                                                </div>
                                            </div>


                                            <div class="row pt-3">
                                                <!-- Agregamos el campo de dirección-->
                                                <div class="col">
                                                    <label for="direccion">Dirección:</label>
                                                    <input id="direccion" name="direccion"
                                                           maxlength="99" type="text" class="form-control"
                                                           placeholder="Ingrese la dirección" required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese una dirección (max 99 dígitos).
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label for="distrito">Distrito de residencia:</label>
                                                    <input maxlength="99" id="distrito" name="distritoResidencia" type="text" class="form-control"
                                                           placeholder="Ingrese el distrito de residencia" required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese un distrito de residencia (max 99 dígitos).
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="correo">Correo:</label>
                                                    <input pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}"
                                                           maxlength="99" id="correo" name="correo"
                                                           type="email" class="form-control" placeholder="Ingrese el correo electrónico"
                                                           required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese un correo válido (max 99 dígitos).
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label for="sedeAdmin">Sede:</label>
                                                    <select id="sedeAdmin" name="idSedes" class="form-select" required>
                                                        <option selected disabled value="">--Ingresa una sede--</option>
                                                        <option th:each="sede : ${listaSedes}" th:text="${sede.nombre}" th:value="${sede.idSedes}"></option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Por favor, seleccione una opción.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Agregar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!--TABLA-->
                            <div class="container table-responsive mb-4">
                                <!--Mensajes de guardado, eliminado y actualizado -->
                                <div class="row pt-3">
                                    <div th:if="${ban != null}" th:text="${ban}" class="alert alert-warning" role="alert"></div>
                                    <div th:if="${del != null}" th:text="${del}" class="alert alert-danger" role="alert"></div>
                                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                    <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                                    <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>
                                </div>
                                <table id="example" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Nombre</th>
                                            <th scope="col" class="text-center">Estado</th>
                                            <th scope="col" class="text-center">Sede</th>
                                            <th scope="col" class="text-center">DNI</th>
                                            <th scope="col" class="text-center">Dtto. de residencia</th>
                                            <th scope="col" class="text-center">Correo</th>
                                            <th scope="col" class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="adminSede,obj : ${listaAdminSede}" th:class="${adminSede.estadoUsuario.idEstadoUsuario == 'Baneado'} ? 'bg-red' : ''">
                                            <td>
                                                <img th:if="${adminSede.fotonombre != null}" alt="..." th:src="@{|/imageUser/${adminSede.idUsuario}|}"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <img th:if="${adminSede.fotonombre == null}" alt="..." src="/img/Superadmin/administrador_icon.png"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <a th:text="${adminSede.nombre}" class="text-heading font-semibold"></a>
                                            </td>
                                            <td th:text="${adminSede.estadoUsuario.idEstadoUsuario}" class="text-center"></td>
                                            <td th:text="${adminSede.sedes.nombre}" class="text-center"></td>
                                            <td th:text="${adminSede.dni}" class="text-center"></td>
                                            <td th:text="${adminSede.distritoResidencia}" class="text-center"></td>
                                            <td th:text="${adminSede.correo}" class="text-center"></td>
                                            <td class="text-center">
                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-primary"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaActualizar'+ obj.index}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>

                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-warning"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaBanear'+ obj.index}">
                                                    <i class="bi bi-person-fill-slash"></i>
                                                </button>
                                                <button type="button"  class="btn btn-sm btn-square btn-danger" data-bs-toggle="modal" th:data-bs-target ="${'#eliminar'+ obj.index}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <form method="post" th:action="@{/impersonate/{id}(id=${adminSede.idUsuario})}" style="display: inline;">
                                                    <button type="submit" class="btn btn-sm btn-square btn-secondary">
                                                        <i class="bi bi-gear-wide-connected"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                            <!-- Modal Actualizar -->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}" th:id ="${'modaActualizar'+ obj.index}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5">Actualiza los datos del
                                                Administrador de sede</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" class="needs-validation" id="editForm" th:action="@{/superadmin/guardarAdminSede}" novalidate>
                                            <input type="hidden" name="idUsuario" th:value="${adminSede.idUsuario}">
                                            <input type="hidden" name="dni" th:value="${adminSede.dni}">
                                            <input type="hidden" name="nombre" th:value="${adminSede.nombre}">

                                        <div class="modal-body row">
                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label>DNI:</label>
                                                    <input type="text" class="form-control" th:value="${adminSede.dni}" disabled readonly>
                                                </div>
                                                <div class="col">
                                                    <label>Nombre:</label>
                                                    <input type="text" class="form-control" th:value="${adminSede.nombre}" disabled readonly>
                                                </div>
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label>Dirección:</label>
                                                    <input name="direccion" maxlength="99" type="text" class="form-control" th:value="${adminSede.direccion}" required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese una dirección (max 99 dígitos).
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label>Distrito de residencia</label>
                                                    <input name="distritoResidencia" maxlength="99" type="text" class="form-control" th:value="${adminSede.distritoResidencia}" required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese un distrito de residencia (max 99 dígitos).
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>Correo:</label>
                                                    <input name="correo" type="email" pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}" maxlength="99"  class="form-control"
                                                           th:value="${adminSede.correo}" required>
                                                    <div class="invalid-feedback">
                                                        Por favor, ingrese un correo válido (max 99 dígitos).
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label>Sede:</label>
                                                    <select class="form-select" name="idSedes" required>
                                                        <option th:value="${adminSede.sedes.idSedes}"
                                                                th:text="${adminSede.sedes.nombre}"
                                                                th:selected="${true}"
                                                        ></option>
                                                        <option th:each="sede : ${listaSedes}"
                                                                th:if="${adminSede.sedes.nombre != sede.nombre}"
                                                                th:value="${sede.idSedes}"
                                                                th:text="${sede.nombre}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Actualizar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal banear -->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}" th:id ="${'modaBanear'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5">Estás a punto de realizar un baneo al siguiente Administrador de sede:</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" class="needs-validation" id="baneoForm" th:action="@{/superadmin/banearAdminSede}" novalidate>
                                        <input type="hidden" th:value="${adminSede.idUsuario}" name="idAdminSede">
                                        <div class="modal-body row">

                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label>Nombre:</label>
                                                    <input type="text" class="form-control"
                                                           th:value="${adminSede.nombre}" disabled readonly>
                                                </div>

                                                <div class="col">
                                                    <label >Sede:</label>
                                                    <input type="text" class="form-control" th:value="${adminSede.sedes.nombre}" disabled readonly>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="diasBan">Días baneados:</label>
                                                    <select id="diasBan" name="diasBan" class="form-select" required>
                                                        <option selected disabled value="">--Ingresa la cantidad de días--</option>
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                    <div class="invalid-feedback">
                                                        Ingrese la cantidad de días de baneo.
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <label for="razon">Razón:</label>
                                                    <textarea minlength="10" maxlength="200" class="form-control" id="razon" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Este campo debe tener como mínimo 10 carácteres.
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Banear
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            <!--Modal eliminar-->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}"  th:id ="${'eliminar'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title fs-5">¿Está seguro de eliminar al administrador de sede seleccionado?</h3>
                                        </div>
                                        <form method="post" th:action="@{/superadmin/eliminarAdminSede}">
                                            <input type="hidden" name="idAdminSede" th:value="${adminSede.idUsuario}">
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">Eliminar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Modal de confirmación para cierre de sesión -->
        <div class="modal fade" id="confirmLogoutModal" tabindex="-1"  aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title">¿Estás seguro de que quieres cerrar sesión?</h3>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" onclick="submitLogout()">Cerrar sesión</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

<!--        <script src="/js/Superadmin/script.js"></script>-->
<!--        <script src="/js/Superadmin/table.js"></script>-->

        <!-- JS de bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

        <!-- Datatable -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>

        <!-- Script sobre la tabla y sus configuraciones -->
        <script src="/js/Superadmin/adminSedePDF.js"></script>

        <script>
            //Autocompletar Nombre y Apellidos con el DNI
            function autocompletarDni() {
                let dni = document.getElementById("dni").value;

                fetch(`/api/dni?dni=${dni}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 422 || data.status === 404) {
                            document.getElementById("dniError").style.display = 'none'; // Ocultar mensaje de error de longitud
                            document.getElementById("dniError").classList.remove('is-invalid');
                            document.getElementById("dniError").innerText = 'DNI no válido.';
                            document.getElementById("dniError").style.display = 'block';
                        } else {
                            document.getElementById("nombre").value = data.data.nombres;
                            document.getElementById("apellido").value = `${data.data.apellido_paterno} ${data.data.apellido_materno}`;
                            document.getElementById("dniError").style.display = 'none'; // Ocultar mensaje de error de longitud
                            document.getElementById("dniError").classList.remove('is-invalid');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            // Añadir el evento keydown para detectar la tecla Enter
            document.getElementById('dni').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Evitar que el formulario se envíe
                    let dniInput = document.getElementById("dni");
                    let dniError = document.getElementById("dniError");

                    // Validar la longitud del DNI
                    if (dniInput.value.length !== 8) {
                        dniError.style.display = 'block';
                        dniInput.classList.add('is-invalid');
                    } else {
                        dniError.style.display = 'none';
                        dniInput.classList.remove('is-invalid');
                        autocompletarDni();
                    }
                    autocompletarDni();
                }
            });
        </script>

        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("dni").addEventListener("keydown", function(event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>

        <script>
            (() => {
                'use strict'
                // IDs de los formularios que necesitas manejar
                const formIds = ["registerForm", "editForm", "baneoForm"];

                // Validar el form presionando el botón de Registrar
                formIds.forEach(id => {
                    const form = document.getElementById(id);
                    if (form) {
                        form.addEventListener("keydown", function (event) {
                            if (event.key === "Enter") {
                                event.preventDefault();
                            }
                        });
                    }
                });

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>

        <!-- Script para confirmación de cierre de sesión -->
        <script>
            function confirmLogout() {
                $('#confirmLogoutModal').modal('show');
            }

            function submitLogout() {
                document.getElementById('logoutForm').submit();
            }
        </script>


    </body>
</html>
