<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer SuperAdmin</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
        <style>
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }
            table.dataTable tbody tr.bg-red {
                background-color: #ffebf0 !important;
                border-color: #ffd6e0 !important;
                color: #e62e5c !important;
            }

        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav th:replace="~{Superadmin/fragments_superadmin/general.html :: navbar}"></nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <!-- Title -->
                                    <h2 class="mb-0 ls-tight">
                                        <img src="/img/Superadmin/profile-3.jpeg" width="40"> Bienvenido, <span
                                            class="text-primary" th:text="'S.Admin. ' + ${superadmin.nombre}"></span></h2>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/superadmin/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Nav -->
                            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                                <li class="nav-item ">
                                    <a th:href="@{'/superadmin'}" class="nav-link active">Administrador de Sede</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/farmacistas'}"
                                       class="nav-link font-regular">Farmacistas</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/doctores'}" class="nav-link font-regular">Doctores</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/pacientes'}" class="nav-link font-regular">Pacientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <div class="card shadow border-0 mb-7">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h3 class="mb-0 ls-tight">Lista de Administradores de Sedes </h3>
                                    </div>
                                    <!-- Actions -->
                                    <div class="col-sm-6 col-12 d-flex align-items-center justify-content-end">
                                        <form method="post" th:action="@{/pdf/usuarios}">
                                            <input type="hidden" name="listaUsuarios" th:each="usuario : ${listaAdminSede}" th:value="${usuario.idUsuario}">
                                            <button type="submit" class="btn btn-primary d-inline-flex btn-sm mx-1 align-items-center">
                                                <span class="pe-2"><i class="bi bi-file-earmark-spreadsheet"></i></span>
                                                <span>Descargar PDF</span></button>
                                        </form>

                                        <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1 align-items-center"
                                           data-bs-toggle="modal" data-bs-target="#modaAgregar">
                                        <span class="pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                            <span>Agregar</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal agregar -->
                            <div class="modal fade" id="modaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form method="post" class="needs-validation" th:action="@{/superadmin/guardarAdminSede}" novalidate>
                                            <input type="hidden" name="idUsuario" value="0">
                                            <input type="hidden" name="nombre" value="valid">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel1">Ingrese los datos del
                                                nuevo <strong style="color:#5C60F5">Administrador de sede</strong></h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body row">

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>DNI:</label>
                                                    <input minlength="8" maxlength="8" id="numberInput" name="dni" type="text" class="form-control"
                                                           onblur="autocompletarDni()"
                                                           placeholder="Coloca el N° de DNI" required>
                                                </div>
                                            </div>

                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label for="nombre">Nombre:</label>

                                                    <input pattern="[A-Za-z].+" maxlength="45" id="nombre" type="text" class="form-control"
                                                           placeholder="Nombre" disabled readonly>
                                                </div>

                                                <div class="col">
                                                    <label for="correo">Correo:</label>
                                                    <input pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}" maxlength="100" id="correo" name="correo" type="email" class="form-control"
                                                           placeholder="Coloca su correo" required>
                                                </div>
                                            </div>

                                            <div class="row pt-5">

                                                <div class="col">
                                                    <label for="distrito">Distrito de residencia</label>
                                                    <input maxlength="99" id="distrito" name="distritoResidencia" type="text" class="form-control"
                                                           placeholder="Coloca su distrito" required>
                                                </div>

                                                <div class="col">
                                                    <label for="sedeAdmin">Sede:</label>
                                                    <select id="sedeAdmin" name="idSedes" class="form-select" required>
                                                        <option selected disabled value="">--Ingresa una sede--</option>
                                                        <option th:each="sede : ${listaSedes}" th:text="${sede.nombre}" th:value="${sede.idSedes}"></option>
                                                    </select>
                                                </div>
                                            </div>




                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Agregar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                            <!--TABLA-->
                            <div class="container table-responsive mb-4">
                                <!--Mensajes de guardado, eliminado y actualizado -->
                                <div class="row pt-3">
                                    <div th:if="${ban != null}" th:text="${ban}" class="alert alert-warning" role="alert"></div>
                                    <div th:if="${del != null}" th:text="${del}" class="alert alert-danger" role="alert"></div>
                                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                    <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                                    <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>
                                </div>
                                <table id="example" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Nombre</th>
                                            <th scope="col" class="text-center">Estado</th>
                                            <th scope="col" class="text-center">Sede</th>
                                            <th scope="col" class="text-center">DNI</th>
                                            <th scope="col" class="text-center">Dtto. de residencia</th>
                                            <th scope="col" class="text-center">Correo</th>
                                            <th scope="col" class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="adminSede,obj : ${listaAdminSede}" th:class="${adminSede.estadoUsuario.idEstadoUsuario == 'Baneado'} ? 'bg-red' : ''">
                                            <td>
                                                <img alt="..." src="/img/Superadmin/profile-3.jpeg"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <a th:text="${adminSede.nombre}" class="text-heading font-semibold"></a>
                                            </td>
                                            <td th:text="${adminSede.estadoUsuario.idEstadoUsuario}" class="text-center"></td>
                                            <td th:text="${adminSede.sedes.nombre}" class="text-center"></td>
                                            <td th:text="${adminSede.dni}" class="text-center"></td>
                                            <td th:text="${adminSede.distritoResidencia}" class="text-center"></td>
                                            <td th:text="${adminSede.correo}" class="text-center"></td>
                                            <td class="text-center">
                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-primary"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaActualizar'+ obj.index}">
                                                    <i class="bi bi-pencil"></i>
                                                </button>

                                                <button type="button"
                                                        class="btn btn-sm btn-square btn-warning"
                                                        data-bs-toggle="modal" th:data-bs-target ="${'#modaBanear'+ obj.index}">
                                                    <i class="bi bi-person-fill-slash"></i>
                                                </button>
                                                <button type="button"  class="btn btn-sm btn-square btn-danger" data-bs-toggle="modal" th:data-bs-target ="${'#eliminar'+ obj.index}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                <a href="#" class="btn btn-sm btn-square btn-secondary">
                                                    <i class="bi bi-gear-wide-connected"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<button onclick="descargarPdf()">Descargar PDF</button>-->
<!--                                <form method="post" th:action="@{/pdf/usuarios}">-->
<!--                                    <input type="hidden" name="listaUsuarios" th:each="usuario : ${listaAdminSede}" th:value="${usuario.idUsuario}">-->
<!--                                    <button type="submit" class="btn btn-primary">Descargar PDF</button>-->
<!--                                </form>-->
                            </div>



                            <!-- Modal Actualizar -->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}" th:id ="${'modaActualizar'+ obj.index}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel2">Actualiza los datos del
                                                Administrador de sede</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" class="needs-validation" th:action="@{/superadmin/guardarAdminSede}" novalidate>
                                        <div class="modal-body row">
                                            <input type="hidden" name="idUsuario" th:value="${adminSede.idUsuario}">
                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label>Nombre:</label>
                                                    <input pattern="[A-Za-z].+" maxlength="45" name="nombre" type="text" class="form-control"
                                                            th:value="${adminSede.nombre}" required>
                                                </div>

                                                <div class="col">
                                                    <label>Correo:</label>
                                                    <input pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}" maxlength="100" name="correo" type="email" class="form-control"
                                                           th:value="${adminSede.correo}" required>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>DNI:</label>
                                                    <input minlength="8" maxlength="8" id="numberInput2"  name="dni" type="text" class="form-control" th:value="${adminSede.dni}" required>
                                                </div>


                                                <div class="col">
                                                    <label>Distrito de residencia</label>
                                                    <input maxlength="99" name="distritoResidencia" type="text" class="form-control" th:value="${adminSede.distritoResidencia}" required>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label>Sede:</label>
                                                    <select class="form-select" name="idSedes" required>
                                                        <option th:value="${adminSede.sedes.idSedes}"
                                                                th:text="${adminSede.sedes.nombre}"
                                                                th:selected="${true}"
                                                                ></option>
                                                        <option th:each="sede : ${listaSedes}"
                                                                th:if="${adminSede.sedes.nombre != sede.nombre}"
                                                                th:value="${sede.idSedes}"
                                                                th:text="${sede.nombre}"
                                                        ></option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Actualizar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal banear -->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}" th:id ="${'modaBanear'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">Estas apunto de banear
                                                al siguiente Administrador de sede:</h3>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form method="post" class="needs-validation" th:action="@{/superadmin/banearAdminSede}" novalidate>
                                        <input type="hidden" th:value="${adminSede.idUsuario}" name="idAdminSede">
                                        <div class="modal-body row">

                                            <div class="row pt-3">
                                                <div class="col">
                                                    <label>Nombre:</label>
                                                    <input type="text" class="form-control"
                                                           th:value="${adminSede.nombre}" disabled>
                                                </div>

                                                <div class="col">
                                                    <label >Sede:</label>
                                                    <input type="text" class="form-control" th:value="${adminSede.sedes.nombre}" disabled>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="diasBan">Días baneados:</label>
                                                    <select id="diasBan" name="diasBan" class="form-select" required>
                                                        <option selected disabled value="">--Ingresa la cantidad--</option>
                                                        <option>0</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>

                                                <div class="col">
                                                    <label for="razon">Razón:</label>
                                                    <textarea minlength="10" maxlength="200" class="form-control" id="razon" required></textarea>
                                                    <div class="invalid-feedback">
                                                        Este campo debe tener como mínimo 10 carácteres.
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary">Banear
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>



                            <!--Modal eliminar-->
                            <div class="modal fade" th:each="adminSede, obj : ${listaAdminSede}"  th:id ="${'eliminar'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h3 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar al administrador de sede seleccionado?</h3>
                                        </div>
                                        <form method="post" th:action="@{/superadmin/eliminarAdminSede}">
                                            <input type="hidden" name="idAdminSede" th:value="${adminSede.idUsuario}">
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary">Eliminar
                                            </button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Modal de confirmación para cierre de sesión -->
        <div class="modal fade" id="confirmLogoutModal" tabindex="-1"  aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title" id="confirmLogoutModalLabel">¿Estás seguro de que quieres cerrar sesión?</h3>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" onclick="submitLogout()">Cerrar sesión</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/Superadmin/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/Superadmin/table.js"></script>
        <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
        <script>
            new DataTable('#example');
        </script>

        <script>
            function descargarPdf() {
                window.location.href = '/pdf/usuarios';
            }
        </script>


        <script>
            //Autocompletar Nombre y Apellidos con el DNI
            function autocompletarDni() {
                let dni = document.getElementById("numberInput").value;

                fetch(`/api/dni?dni=${dni}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 422 || data.status === 404) {
                            alert(data.message);
                        } else {
                            document.getElementById("nombre").value = `${data.data.nombres} ${data.data.apellido_paterno} ${data.data.apellido_materno}` ;
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }

            // Añadir el evento keydown para detectar la tecla Enter
            document.getElementById('dni').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Evitar que el formulario se envíe
                    autocompletarDni();
                }
            });
        </script>

        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("numberInput").addEventListener("keydown", function(event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>
        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("numberInput2").addEventListener("keydown", function(event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>

        <!-- Script para confirmación de cierre de sesión -->
        <script>
            function confirmLogout() {
                $('#confirmLogoutModal').modal('show');
            }

            function submitLogout() {
                document.getElementById('logoutForm').submit();
            }
        </script>


    </body>
</html>
