<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Renacer SuperAdmin</title>
    <link rel="icon" href="/img/Superadmin/icono.png"/>
    <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <style>
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #94a6b3;
            border-color: #94a6b3;
        }

        .form-check-label {
            color: #525F7F;
            font-weight: normal;
        }

        .form-control, .form-select {
            color: #525F7F;
        }
    </style>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
         id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/superadmin'}">
                <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                        src="/img/Superadmin/icono.png" width="40" class="pr-6">
                    <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                </h3>
            </a>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/superadmin'}">
                            <i class="bi bi-house"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background: #F5F9FC" th:href="@{'/superadmin/inventario'}">
                            <i class="bi bi-clipboard btn" role="button" data-bs-toggle="button"></i> Inventario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/superadmin/orden-reposicion'}">
                            <i class="bi bi-bag-plus"></i> Órdenes de reposición
                        </a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button class="nav-link" type="submit" style="background: none; padding: 0; cursor: pointer ">
                                <i class="bi bi-box-arrow-left" ></i> Cerrar sesión
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center mb-5">
                        <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h2 class="mb-0 ls-tight">
                                <img src="/img/Superadmin/profile-3.jpeg" width="40"> Bienvenido, <span
                                    class="text-primary" th:text="'S.Admin ' + ${superadmin.nombre}"></span></h2>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-4 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a th:href="@{'/superadmin/perfil'}"
                                   class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-person-gear"></i>
                                    </span>
                                    <span>Mi perfil</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                <h3 class="mb-0 ls-tight"> Lista de medicinas </h3>
                            </div>
                            <!-- Actions -->
                            <div class="col-sm-6 col-12 d-flex align-items-center justify-content-end">

                                <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1 align-items-center"
                                   data-bs-toggle="modal" data-bs-target="#modaAgregar">
                                        <span class="pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                    <span>Agregar</span>
                                </a>
                                <!--<a th:href="@{'/superadmin/inventario/restricciones'}" class="btn d-inline-flex btn-sm btn-danger mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-shield-x"></i>
                                    </span>
                                    <span>Restricción</span>
                                </a>-->
                            </div>
                        </div>

                    </div>
                    <!-- Modal agregar -->
                    <div class="modal fade" id="modaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="exampleModalLabel1">Ingrese los datos del
                                        nuevo</h3>
                                    <h3 style="color:#5C60F5; padding-left:5px "> medicamento</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                    <div th:if="${err != null}" th:text="${err}" class="alert alert-err" role="alert"></div>
                                    <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>

                                </div>

                                <form method="post" class="needs-validation" th:action="@{/superadmin/guardarProducto}"
                                      enctype="multipart/form-data" novalidate>
                                    <input type="hidden" name="IDProducto" value="0">
                                    <input type="hidden" name="codigo" value="000000">
                                    <div class="modal-body row">
                                        <div class="row pt-3">
                                            <div class="col">
                                                <label>Subir imagen:</label>
                                                <input type="file" class="form-control" name="archivo" accept="image/*" required>
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Nombre:</label>
                                                <input pattern="[A-Za-z].+" maxlength="45" name="nombre" type="text" class="form-control"
                                                       placeholder="Ingrese el nombre del medicamento" required>
                                            </div>


                                            <div class="col">
                                                <label>Precio (S/.):</label>
                                                <input pattern="[0-9]+(\.[0-9]+)?" id="numberInput" name="precio" type="text" class="form-control"
                                                       placeholder="Ingrese el precio del medicamento" required min="0">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Categoria:</label>
                                                <select name="idCategoria" class="form-select" required>
                                                    <option selected disabled value="">--Ingresa una categoría--</option>
                                                    <option th:each="categoria : ${listaCategorias}"
                                                            th:text="${categoria.nombre}"
                                                            th:value="${categoria.idCategorias}"></option>
                                                </select>
                                            </div>


                                            <div class="col">
                                                <label>Fecha de vencimiento:</label>
                                                <input name="fechaVencimiento" id="fechaVencimiento" type="date" class="form-control"
                                                       placeholder="Ingresa la fecha del vencimiento" required>
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Descripción:</label>
                                                <textarea minlength="10" maxlength="200" name="descripcion" class="form-control" cols="30"
                                                          rows="10" required></textarea>
                                                <div class="invalid-feedback">
                                                    Este campo debe tener como mínimo 10 carácteres.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Seleccione las sedes que pueden visualizar el
                                                    producto:</label>
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- Lista de sedes con checkboxes agrupadas -->
                                                        <!--<div class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="checkTodos" onclick="marcarTodos()">
                                                            <label class="form-check-label" for="checkTodos">Marcar
                                                                todos</label>
                                                        </div>-->
                                                        <!-- Agrupar las sedes en 4 columnas -->
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           id="checkTodos" onclick="marcarTodos()">
                                                                    <label class="form-check-label" for="checkTodos">Marcar
                                                                        todos</label>
                                                                </div>
                                                                <div class="form-check"
                                                                     th:each="sede, iterStat : ${listaSedes}"
                                                                     th:if="${iterStat.index < 5}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}">
                                                                    <label class="form-check-label"
                                                                           th:text="${sede.nombre}"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-check"
                                                                     th:each="sede, iterStat : ${listaSedes}"
                                                                     th:if="${iterStat.index >= 5 and iterStat.index < 10}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}">
                                                                    <label class="form-check-label"
                                                                           th:text="${sede.nombre}"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Agregar
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!--TABLA-->
                    <div class="container table-responsive mb-4">
                        <!--Mensajes de medicina agregada, eliminada y actualizada -->
                        <div class="row pt-3">
                            <div th:if="${del != null}" th:text="${del}" class="alert alert-danger" role="alert"></div>
                            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                            <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                            <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>
                        </div>
                        <table id="example" class="table table-hover" style="width:100%">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Imagen</th>
                                <th scope="col" class="text-center">Medicina</th>
                                <th scope="col" class="text-center">Cantidad Disponible</th>
                                <th scope="col" class="text-center">Precio x Unid. (S/.)</th>
                                <th scope="col" class="text-center">Categoria</th>
                                <!--                                            <th scope="col" class="text-center">Fecha de Vencimiento</th>-->
                                <!--                                            <th scope="col" class="text-center">Estado</th>-->
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="medicamento,obj : ${listaMedicamentos}">
                                <td class="text-center">
                                    <img alt="..." th:src="@{|/imageProduct/${medicamento.idProductos}|}"
                                         class="avatar avatar-sm rounded-circle me-2">

                                </td>
                                <td>
                                    <p th:text="${medicamento.nombre}"
                                       class="text-heading font-semibold text-uppercase text-center"></p>
                                </td>
                                <th:block th:each="cantidad:${listaCantidadPorProducto}">
                                    <td class="text-center"  th:if="${cantidad.getIdProductos() == medicamento.idProductos}" th:text="${cantidad.getCantidadTotal()}"></td>
                                </th:block>
                                <td th:text="${medicamento.precio}" class="text-center"></td>
                                <td th:text="${medicamento.categorias.nombre}" class="text-center"></td>
                                <!--                                            <td th:text="${medicamento.fechaVencimiento}" class="text-center"></td>-->
                                <!--                                            <td class="text-center">
                                                                                <a class="text-heading font-semibold"
                                                                                   th:href="@{'/superadmin/inventario/estado-reposicion'}">
                                                                                    Ver estado de reposición
                                                                                </a>
                                                                            </td>-->
                                <td class="text-center">
                                    <button type="button" class="btn btn-sm btn-primary btn-square"
                                            data-bs-toggle="modal" th:data-bs-target="${'#modaActualizar'+ obj.index}">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger btn-square"
                                            data-bs-toggle="modal" th:data-bs-target="${'#modaBanear'+ obj.index}">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal editar -->
                    <div class="modal fade" th:each="medicamento, obj : ${listaMedicamentos}"
                         th:id="${'modaActualizar'+ obj.index}" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title fs-5" id="exampleModalLabel">Edición de datos
                                        del </h3>
                                    <h3 style="color:#5C60F5; padding-left:5px ">medicamento</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <form method="post" class="needs-validation" th:action="@{/superadmin/guardarProducto}"
                                      enctype="multipart/form-data" novalidate>
                                    <input type="hidden" name="IDProducto" th:value="${medicamento.idProductos}">
                                    <input type="hidden" name="idProductos" th:value="${medicamento.idProductos}">
                                    <input type="hidden" name="codigo" th:value="${medicamento.codigo}">
                                    <div class="modal-body row">
                                        <div class="row pt-3">

                                            <div class="col">
                                                <label>Subir imagen:</label>
                                                <input type="file" class="form-control" name="archivo" accept="image/*" required>
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Medicina:</label>
                                                <input pattern="[A-Za-z].+" maxlength="45" name="nombre" type="text" class="form-control"
                                                       th:value="${medicamento.nombre}" required>
                                            </div>


                                            <div class="col">
                                                <label>Precio (S/.):</label>
                                                <input pattern="[0-9]+(\.[0-9]+)?" id="numberInput2" name="precio" type="text" class="form-control"
                                                       th:value="${medicamento.precio}" required min="0">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Categoría:</label>
                                                <select class="form-select" name="idCategoria" required>
                                                    <option th:value="${medicamento.categorias.idCategorias}"
                                                            th:text="${medicamento.categorias.nombre}"
                                                            th:selected="${true}"
                                                    ></option>
                                                    <option th:each="categoria : ${listaCategorias}"
                                                            th:if="${medicamento.categorias.nombre != categoria.nombre}"
                                                            th:value="${categoria.idCategorias}"
                                                            th:text="${categoria.nombre}"
                                                    ></option>
                                                </select>
                                            </div>


                                            <div class="col">
                                                <label>Fecha de vencimiento:</label>
                                                <input name="fechaVencimiento" id="fechaVencimiento2" type="date" class="form-control"
                                                       th:value="${medicamento.fechaVencimiento}" required>
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Descripción:</label>
                                                <textarea minlength="10" maxlength="200" name="descripcion" class="form-control" cols="30"
                                                          rows="10" th:text="${medicamento.descripcion}" required></textarea>
                                                <div class="invalid-feedback">
                                                    Este campo debe tener como mínimo 10 carácteres.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pt-5">
                                            <div class="col">
                                                <label>Seleccione las sedes que pueden visualizar el
                                                    producto:</label>
                                                <div class="row">
                                                    <div class="col">
                                                        <!-- Agrupar las sedes en 4 columnas -->
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-check" th:each="sede, iterStat : ${listaSedes}" th:if="${iterStat.index < 5}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}"
                                                                           th:each="productoSede : ${listaProductoSede}"
                                                                           th:if="${productoSede.productos.idProductos==medicamento.idProductos and productoSede.sedes.idSedes!=sede.idSedes}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}"
                                                                           th:each="productoSede : ${listaProductoSede}"
                                                                           th:if="${productoSede.productos.idProductos==medicamento.idProductos and productoSede.sedes.idSedes==sede.idSedes}"
                                                                           checked>
                                                                    <label class="form-check-label" th:text="${sede.nombre}"></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-check"
                                                                     th:each="sede, iterStat : ${listaSedes}"
                                                                     th:if="${iterStat.index >= 5 and iterStat.index < 10}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}"
                                                                           th:each="productoSede : ${listaProductoSede}"
                                                                           th:if="${productoSede.productos.idProductos==medicamento.idProductos and productoSede.sedes.idSedes!=sede.idSedes}">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           name="idSedes" th:value="${sede.idSedes}"
                                                                           th:each="productoSede : ${listaProductoSede}"
                                                                           th:if="${productoSede.productos.idProductos==medicamento.idProductos and productoSede.sedes.idSedes==sede.idSedes}"
                                                                           checked>
                                                                    <label class="form-check-label"
                                                                           th:text="${sede.nombre}"></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Actualizar
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Modal eliminar -->
                    <div class="modal fade" th:each="medicamento, obj : ${listaMedicamentos}"
                         th:id="${'modaBanear'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" th:action="@{/superadmin/eliminarProducto}">
                                    <input type="hidden" name="idProducto" th:value="${medicamento.idProductos}">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5 text-center" id="exampleModalLabel">¿Esta seguro
                                            que desea eliminar este producto?</h3>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#elimar">Eliminar
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>
    </div>
</div>


<script src="/js/Superadmin/script.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/Superadmin/table.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
<script>
    new DataTable('#example');
</script>
<script>
    function marcarTodos() {
        var checkboxes = document.getElementsByName('idSedes');
        var checkTodos = document.getElementById('checkTodos');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = checkTodos.checked;
        }
    }
</script>
    <script>
        // JavaScript para permitir solo la entrada de números y el punto decimal
        document.getElementById("numberInput").addEventListener("keydown", function(event) {
            // Permite las teclas de flecha, retroceso y suprimir
            if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                return;
            }
            // Permite los dígitos numéricos y el punto decimal
            if (!((event.key >= "0" && event.key <= "9") || event.key === ".")) {
                event.preventDefault();
            }
            // Permite solo un punto decimal
            if (event.key === "." && this.value.includes(".")) {
                event.preventDefault();
            }
        });
    </script>

    <script>
        // JavaScript para permitir solo la entrada de números y el punto decimal
        document.getElementById("numberInput2").addEventListener("keydown", function(event) {
            // Permite las teclas de flecha, retroceso y suprimir
            if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                return;
            }
            // Permite los dígitos numéricos y el punto decimal
            if (!((event.key >= "0" && event.key <= "9") || event.key === ".")) {
                event.preventDefault();
            }
            // Permite solo un punto decimal
            if (event.key === "." && this.value.includes(".")) {
                event.preventDefault();
            }
        });
    </script>

    <script>
        // Obtener el elemento de entrada de fecha
        var fechaVencimientoInput = document.getElementById('fechaVencimiento');

        // Obtener la fecha actual en formato 'yyyy-mm-dd'
        var fechaActual = new Date().toISOString().split('T')[0];

        // Establecer la fecha mínima en el campo de entrada de fecha
        fechaVencimientoInput.setAttribute('min', fechaActual);
    </script>
    <script>
        // Obtener el elemento de entrada de fecha
        var fechaVencimientoInput = document.getElementById('fechaVencimiento2');

        // Obtener la fecha actual en formato 'yyyy-mm-dd'
        var fechaActual = new Date().toISOString().split('T')[0];

        // Establecer la fecha mínima en el campo de entrada de fecha
        fechaVencimientoInput.setAttribute('min', fechaActual);
    </script>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</body>
</html>
