<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer SuperAdmin</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
        <style>
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }
        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav th:replace="~{Superadmin/fragments_superadmin/general.html :: navbar}"></nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0 d-flex align-items-center">
                                    <!-- Title -->
                                    <img th:src="@{|/imageUser/${superadmin.idUsuario}|}" width="40" class="avatar">
                                    <h3 class="mb-0 ls-tight mx-1">
                                        Bienvenido, <span
                                            class="text-primary" th:text="'S.Admin. ' + ${superadmin.nombre}"></span></h3>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-sm-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/superadmin/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <!-- Nav -->
                            <ul class="nav nav-tabs mt-4 overflow-x border-0">
                                <li class="nav-item ">
                                    <a th:href="@{'/superadmin'}" class="nav-link font-regular">Administrador de
                                        Sede</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/farmacistas'}"
                                       class="nav-link font-regular">Farmacistas</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/doctores'}" class="nav-link font-regular">Doctores</a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{'/superadmin/pacientes'}" class="nav-link active">Pacientes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <div class="card shadow border-0 mb-7">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                        <h3 class="mb-0">Lista de Pacientes</h3>
                                    </div>
                                    <!-- Actions -->
                                    <div class="col-sm-6 col-12 d-flex align-items-center justify-content-end">
                                        <button id="download-pdf" class="btn btn-danger d-inline-flex btn-sm mx-1">
                                             <span class=" pe-2">
                                                 <i class="bi bi-file-earmark-pdf"></i>
                                             </span>
                                            <span>Descargar PDF</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--TABLA-->
                            <div class="container table-responsive mb-4">
                                <table id="pacientes" class="table table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center">Nombre</th>
                                            <th scope="col" class="text-center">DNI</th>
                                            <th scope="col" class="text-center">Correo</th>
                                            <th scope="col" class="text-center">Seguro</th>
                                            <th scope="col" class="text-center">Dirección</th>
                                            <th scope="col" class="text-center">Distrito</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="paciente,obj: ${listaPacientes}">
                                            <td>
                                                <img th:if="${paciente.fotonombre != null}" alt="..." th:src="@{|/imageUser/${paciente.idUsuario}|}"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <img th:if="${paciente.fotonombre == null}" alt="..." src="/img/Superadmin/user_icon.png"
                                                     class="avatar avatar-sm rounded-circle me-2">
                                                <a th:text="${paciente.nombre}" class="text-heading font-semibold"
                                                   href="#"></a>
                                            </td>
                                            <td th:text="${paciente.dni}" class="text-center"></td>
                                            <td th:text="${paciente.correo}" class="text-center"></td>
                                            <td th:text="${paciente.seguro}" class="text-center"></td>
                                            <td th:text="${paciente.direccion}" class="text-center"></td>
                                            <td th:text="${paciente.distritoResidencia}" class="text-center"></td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-square btn-secondary">
                                                    <i class="bi bi-gear-wide-connected"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>

        <!-- Modal de confirmación para cierre de sesión -->
        <div class="modal fade" id="confirmLogoutModal" tabindex="-1" aria-labelledby="confirmLogoutModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title" id="confirmLogoutModalLabel">¿Estás seguro de que quieres cerrar
                            sesión?</h3>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" onclick="submitLogout()">Cerrar sesión</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


        <!--        <script src="/js/Superadmin/script.js"></script>-->

        <!-- JS de bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

        <!-- Datatable -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>

        <!-- Script sobre la tabla y sus configuraciones -->
        <script src="/js/Superadmin/pacientes.js"></script>

        <!-- Script para confirmación de cierre de sesión -->
        <script>
            function confirmLogout() {
                $('#confirmLogoutModal').modal('show');
            }

            function submitLogout() {
                document.getElementById('logoutForm').submit();
            }
        </script>
    </body>
</html>
