<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clínica Renacer SuperAdmin</title>
    <link rel="icon" href="/img/Login/icono.png" />
  <link rel="stylesheet" href="/css/Superadmin/style_clinica.css">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <style>
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #94a6b3;
            border-color: #94a6b3;
        }
    </style>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav th:replace="~{Superadmin/fragments_superadmin/general.html :: navbar}"></nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">
                                <img src="/img/Superadmin/profile-3.jpeg" width="40"> Bienvenido, <span class="text-primary">S.Admin.Robert Harry</span></h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-4 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a th:href="@{'/superadmin/perfil'}" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                    <span>Mi perfil</span>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item ">
                            <a th:href="@{'/superadmin'}" class="nav-link font-regular">Administrador de Sede</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{'/superadmin/farmacistas'}" class="nav-link font-regular">Farmacistas</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{'/superadmin/doctores'}" class="nav-link font-regular">Doctores</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{'/superadmin/pacientes'}" class="nav-link active">Pacientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h3 class="mb-0">Lista de Pacientes</h3>
                    </div>
                    <!--TABLA-->
                    <div class="container table-responsive mb-4">
                        <table id="example" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Nombre</th>
                                    <th scope="col" class="text-center">DNI</th>
                                    <th scope="col" class="text-center">Correo</th>
                                    <th scope="col" class="text-center">Seguro</th>
                                    <th scope="col" class="text-center">Dirección</th>
                                    <th scope="col" class="text-center">Distrito</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="paciente,obj: ${listaPacientes}">
                                    <td>
                                        <img alt="..." src="/img/Superadmin/profile-3.jpeg" class="avatar avatar-sm rounded-circle me-2">
                                        <a th:text="${paciente.nombre}" class="text-heading font-semibold" href="#"></a>
                                    </td>
                                    <td th:text="${paciente.dni}" class="text-center"></td>
                                    <td th:text="${paciente.correo}" class="text-center"></td>
                                    <td th:text="${paciente.seguro}" class="text-center"></td>
                                    <td th:text="${paciente.direccion}" class="text-center"></td>
                                    <td th:text="${paciente.distritoResidencia}" class="text-center"></td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-sm btn-square btn-secondary">
                                            <i class="bi bi-gear-wide-connected"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
  <script src="/js/Superadmin/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Superadmin/table.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>
</html>
