<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer Admin Sede</title>
        <link rel="icon" href="/img/Superadmin/icono.png"/>
        <link rel="stylesheet" href="/css/AdministradorSede/style.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <style>
            /* Estilos para el icono del doctor */
            .material-symbols-outlined {
                font-size: 20px;
                margin-left: -2px;
                font-variation-settings:
                        'FILL' 0,
                        'wght' 200,
                        'GRAD' 0,
                        'opsz' 24
            }
            .navbar-vertical.navbar-light .navbar-nav .nav-link i, .navbar-vertical.navbar-light .navbar-nav .nav-link svg{
                display: flex;
            }
        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
                 id="navbarVertical">
                <div class="container-fluid">
                    <!-- Toggler -->
                    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                        <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
                                src="/img/Superadmin/icono.png" width="40" class="pr-6">
                            <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                        </h3>
                    </a>
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidebarCollapse">
                        <!-- Navigation -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede'}">
                                    <i class="bi bi-house" ></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/ordenes-reposicion'}">
                                    <i class="bi bi-bag-plus"></i> Órdenes de reposición
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/doctores'}">
                                    <i><span class="material-symbols-outlined">stethoscope</span></i> Doctores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/farmacistas'}">
                                    <i class="bi bi-people"></i> Farmacistas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/medicinas'}">
                                    <i class="bi bi-capsule"></i> Medicinas
                                </a>
                            </li>
                            <!-- CON MODAL DE CONFIRMACION-->
                            <li class="nav-item">
                                <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
                                    <!-- Incluir token CSRF -->
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                                <a href="" class="nav-link" onclick="confirmLogout(event)">
                                    <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center mb-5">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <!-- Title -->
                                    <h2 class="mb-0 ls-tight">
                                        <img src="/img/AdministradorSede/profile-3.jpeg" width="40"> Mi perfil, <span
                                            class="text-primary" th:text="'Administrador De Sede ' + ${adminSede.nombre}"></span>
                                    </h2>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/administradorsede/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                         <i class="bi bi-person-gear"></i>
                                    </span>
                                            <span>Mi perfil</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary ">
                    <div class="container-fluid d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center card shadow px-5 py-2"
                             style="width: 70rem">
                            <div class="row row-cols-1 ">
                                <div class="col text-center pt-1 pb-1">
                                    <h2><strong>Edita tu perfil</strong></h2>
                                    <hr>
                                </div>

                                <!--Form para editar perfil con validaciones en js-->
                                <form id="myForm">
                                    <div class="col d-flex pb-6">
                                        <div class="col-4 d-flex justify-content-center align-items-center">
                                            <img src="/img/Superadmin/profile-3.jpeg" alt="" width="250" class="rounded-circle">
                                        </div>
                                        <div class="col" style="margin:0px 30px">
                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="nombre">Nombre:</label>
                                                    <input type="text" class="form-control" id="nombre" placeholder="Coloca tu nombre">
                                                    <p id="nombreError" class="text-danger"></p>
                                                </div>
                                                <div class="col">
                                                    <label for="apellido">Apellido:</label>
                                                    <input type="text" class="form-control" id="apellido" placeholder="Coloca tu apellido">
                                                    <p id="apellidoError" class="text-danger"></p>
                                                </div>
                                            </div>

                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="correo">Correo electrónico:</label>
                                                    <input type="email" class="form-control" id="correo" placeholder="correo@correo.com">
                                                    <p id="correoError" class="text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="row pt-5">
                                                <div class="col">
                                                    <label for="distrito">Distrito de residencia:</label>
                                                    <input type="text" class="form-control" id="distrito" placeholder="Coloca tu distrito de residencia">
                                                    <p id="distritoError" class="text-danger"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <div id="successMessage" class="text-success text-center"></div>
                                    <div class="pt-2 pb-3 d-flex justify-content-center">
                                        <button class="btn btn-primary btn-xs" style="margin-right: 5px" type="submit">Guardar Cambios</button>
                                        <a href="/administradorsede/perfil" class="btn btn-danger btn-xs" role="button">Cancelar</a>
                                    </div>
                                </form>


                            </div>

                        </div>
                    </div>


                </main>
            </div>
        </div>

        <!-- Modal de confirmación para cierre de sesión -->
        <div class="modal fade" id="confirmLogoutModal" tabindex="-1"  aria-labelledby="confirmLogoutModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title" id="confirmLogoutModalLabel">¿Estás seguro de que quieres cerrar sesión?</h3>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-primary" onclick="submitLogout()">Cerrar sesión</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                crossorigin="anonymous"></script>
        <script src="/js/Superadmin/script.js"></script>
        <script src="/js/Superadmin/editProfile.js"></script>

        <script>
            function confirmLogout(event) {
                event.preventDefault();
                var modal = new bootstrap.Modal(document.getElementById('confirmLogoutModal'));
                modal.show();
            }

            function submitLogout() {
                document.getElementById('logoutForm').submit();
            }
        </script>
    </body>
</html>
