<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clínica Renacer SuperAdmin</title>
  <link rel="stylesheet" href="/css/AdministradorSede/style.css">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <!--DataTable-->
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.min.css">
  <style>
      /* Estilos personalizados para los botones de paginación */
      li.dt-paging-button.page-item {
          padding: 2px;
          margin: 0 2px;
          border: 1px solid #ccc;
          background-color: #f2f2f2;
          color: #333;
          border-radius: 3px;
      }

      /* Estilos para el botón activo */
      .dt-paging-button.page-item.active a {
          background-color: rgb(92 96 245) !important;
          color: #fff !important;
      }

      /* Estilos para el botón activo */
      .dt-paging-button.page-item.disabled a {
          opacity: 0.5;
          /* Por ejemplo, reducir la opacidad */
      }
  </style>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                <h3 class="text-success"><img src="/img/AdministradorSede/Imagen de WhatsApp 2024-04-09 a las 00.28.48_3d5ed18c.png" width="40" class="pr-6"><span class="text-info">Clínica</span>Renacer</h3>
            </a>
            <!-- User menu (mobile) -->
            <div class="navbar-user d-lg-none">
                <!-- Dropdown -->
                <div class="dropdown">
                    <!-- Toggle -->
                    <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-parent-child">
                            <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                            <span class="avatar-child avatar-badge bg-success"></span>
                        </div>
                    </a>
                    <!-- Menu 
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                        <a href="#" class="dropdown-item">Perfil</a>
                        <a href="#" class="dropdown-item">Configuracion</a>
                        <a href="#" class="dropdown-item">Cerrar Sesión</a>
                    </div> -->
                    
                </div>
            </div>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede'}">
                            <i class="bi bi-house" ></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede/ordenes-reposicion'}">
                            <i class="bi bi-bar-chart"></i> Ordenes de Reposicion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede/doctores'}">
                            <i class="bi bi-people"></i> Doctores
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede/farmacistas'}">
                            <i class="bi bi-people btn" role="button" data-bs-toggle="button"></i> Farmacistas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede/medicinas'}">
                            <i class="bi bi-people"></i> Medicinas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede/perfil'}">
                            <i class="bi bi-people"></i> Perfil
                        </a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/login'}">
                            <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                        </a>
                    </li>  
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">
                                <img src="/img/AdministradorSede/profile-3.jpeg" width="40"> Bienvenido, <span class="text-primary">Admin. Sede Javier Marroquin</span></h1>
                                <br>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h2 class="mb-0">Lista de Farmacistas</h2> 
                        <div class="col pt-5">
                            <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1" data-bs-toggle="modal" data-bs-target="#modaAgregar">
                                <span class=" pe-2">
                                    <i class="bi bi-plus"></i>
                                </span>
                                <span>Agregar</span>
                            </a>
                        </div>      
                    </div>
                
                    <div class="table-responsive mx-auto">
                        <table class="table table-hover table-nowrap" id="tableFarmacista">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Sede</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Distrito de residencia</th>
                                    <th scope="col">Código</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Estado de usuario</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="farmacista,obj: ${listaFarmacistas}">
                                    <td>
                                        <img alt="..." src="/img/AdministradorSede/profile-3.jpeg" class="avatar avatar-sm rounded-circle me-2">
                                        <a  th:text="${farmacista.nombre}" class="text-heading font-semibold" href="#">
                                        </a>
                                    </td>
                                    <td th:text="${adminSede.sedes.nombre}"></td>
                                    <td th:text="${farmacista.dni}"></td>
                                    <td th:text="${farmacista.distritoResidencia}"></td>
                                    <td th:text="${farmacista.codigoColegio}"></td>
                                    <td th:text="${farmacista.correo}"></td>
                                    <td th:text="${farmacista.estadoUsuario.idEstadoUsuario}"></td>
                                    <td class="text-end">
                                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" th:data-bs-target ="${'#modaActualizar'+ obj.index}">
                                            Editar
                                        </button>
                                        <button type="button"  class="btn btn-sm btn-square btn-danger text-danger-hover" data-bs-toggle="modal"  th:data-bs-target ="${'#modaEliminar'+ obj.index}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <!-- Modal Actualizar -->
                    <div class="modal fade" th:each="farmacista, obj : ${listaFarmacistas}" th:id ="${'modaActualizar'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar los datos del <br> Farmacista:</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" th:action="@{/administradorsede/guardarfarmacista}">
                            <div class="modal-body row">
                                <input type="hidden" name="idUsuario" th:value="${farmacista.idUsuario}">
                                <div class="row pt-5">
                                    <div class="col">
                                        <label >Nombre:</label>
                                        <input  name= "nombre" type="text" class="form-control"  th:value="${farmacista.nombre}">
                                    </div>

                                    <div class="col">
                                        <label >Correo:</label>
                                        <input name= "correo" type="email" class="form-control"  th:value="${farmacista.correo}">
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col">
                                        <label >DNI:</label>
                                        <input name= "dni" type="number" class="form-control"  th:value="${farmacista.dni}">
                                    </div>


                                    <div class="col">
                                        <label >Código (colegio médico)</label>
                                        <input  name= "codigoColegio" type="number" class="form-control"  th:value="${farmacista.codigoColegio}">
                                    </div>
                                </div>

                                <div class="row pt-5">
                                    <div class="col">
                                        <label >Distrito de residencia</label>
                                        <input name= "distritoResidencia" type="text" class="form-control"  th:value="${farmacista.distritoResidencia}">
                                    </div>
                                    <div class="col">
                                        <label for="sedeAct">Sede:</label>
                                        <select id="sedeAct" class="form-select" name="idSedes">
                                            <option th:value="${adminSede.sedes.idSedes}"
                                                    th:text="${adminSede.sedes.nombre}"
                                                    th:selected="${true}"></option>
                                        </select>

                                    </div>
                                </div>


                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">Actualizar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>

                    <!-- Modal Eliminar -->
                    <div class="modal fade" th:each="farmacista, obj : ${listaFarmacistas}" th:id ="${'modaEliminar'+ obj.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content text-center">
                        
                                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro de eliminar al farmacista seleccionado?</h1>
                                
                                <div class="modal-footer d-flex justify-content-center">
                                    <a type="button" class="btn btn-primary" th:href="@{'/administradorsede/borrarfarmacista?idFarmacista=' + ${farmacista.idUsuario}}">Eliminar</a>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal agregar -->
                    <div class="modal fade" id="modaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <form method="post" th:action="@{/administradorsede/guardarfarmacista}">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar <br> Farmacista:</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body row">
                                    <div class="row pt-5">
                                        <div class="col">
                                            <label for="nombre">Nombre:</label>
                                            <input id="nombre" name="nombre" type="text" class="form-control">
                                        </div>
                                       
                                        <div class="col">
                                            <label for="correo">Correo:</label>
                                            <input id="correo" name="correo" type="email" class="form-control">
                                        </div>
                                    </div>
                                    
                                    <div class="row pt-5">
                                        <div class="col">
                                            <label for="dni">DNI:</label>
                                            <input id="dni" name="dni" type="number" class="form-control">
                                        </div>
                                        
        
                                        <div class="col">
                                            <label for="codigoColegio">Código (colegio médico)</label>
                                            <input id="codigoColegio" name="codigoColegio" type="number" class="form-control">
                                        </div>
                                    </div>
    
                                    <div class="row pt-5">
                                        <div class="col">
                                            <label for="distritoResidencia">Distrito de residencia</label>
                                            <input id="distritoResidencia" name="distritoResidencia" type="text" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label for="sedeN">Sede:</label>
                                            <select id="sedeN" class="form-select" name="idSedes">
                                                <option th:value="${adminSede.sedes.idSedes}"
                                                        th:text="${adminSede.sedes.nombre}"
                                                        th:selected="${true}"></option>
                                            </select>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregado">Agregar</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Modal actualizado exitosamente-->
                    <div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h2 class="text-center">Farmacista actualizado exitosamente.</h2>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Ok</button>
                            </div>
                          </div>
                        </div>
                    </div>
                    <!--Modal agregado exitosamente-->
                    <div class="modal fade" id="agregado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h2 class="text-center">Farmacista agregado exitosamente.</h2>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Ok</button>
                            </div>
                          </div>
                        </div>
                    </div>

                    <!-- Modal Eliminar -->
                    <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        <div class="modal-content">
    
                            <div class="modal-body">
                                <h2 class="text-center">Farmacista eliminado exitosamente.</h2>
                              </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-primary " data-bs-dismiss="modal">Ok</button>
                            </div>
                        </div>
                        </div>
                    </div>




                    <div class="card-footer border-0 py-5">
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!--DataTable-->
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js"></script>
<!---->
<script src="/js/AdministradorSede/controladorTablaFarma.js"></script>
</body>
</html>
