<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clínica Renacer Admin Sede</title>
        <link rel="icon" href="/img/Login/icono.png"/>
        <link rel="stylesheet" href="/css/AdministradorSede/style.css">
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
        <style>
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }
        </style>
    </head>

    <body>
        <!-- Dashboard -->
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
            <!-- Vertical Navbar -->
            <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
                 id="navbarVertical">
                <div class="container-fluid">
                    <!-- Toggler -->
                    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Brand -->
                    <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                        <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img src="/img/Login/icono.png"
                                                                                             width="40"
                                                                                             class="pr-6"><span
                                class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                        </h3>
                    </a>

                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidebarCollapse">
                        <!-- Navigation -->
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede'}">
                                    <i class="bi bi-house"></i> Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="background: #F5F9FC"
                                   th:href="@{'/administradorsede/ordenes-reposicion'}">
                                    <i class="bi bi-bag-plus btn" role="button" data-bs-toggle="button"></i> Ordenes de
                                    Reposicion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/doctores'}">
                                    <i class="bi bi-people"></i> Doctores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/farmacistas'}">
                                    <i class="bi bi-people"></i> Farmacistas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/medicinas'}">
                                    <i class="bi bi-people"></i> Medicinas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/administradorsede/perfil'}">
                                    <i class="bi bi-people"></i> Perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/login'}">
                                    <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Main content -->
            <div class="h-screen flex-grow-1 overflow-y-lg-auto">
                <!-- Header -->
                <header class="bg-surface-primary border-bottom pt-6">
                    <div class="container-fluid">
                        <div class="mb-npx">
                            <div class="row align-items-center mb-5">
                                <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <!-- Title -->
                                    <h2 class="mb-0 ls-tight">
                                        Bienvenido, <span class="text-primary">Admin. de Sede Javier Marroquin</span>
                                    </h2>
                                </div>
                                <!-- Actions -->
                                <div class="col-sm-4 col-12 text-end">
                                    <div class="mx-n1">
                                        <a th:href="@{'/administradorsede/perfil'}"
                                           class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                            <span>Editar perfil</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </header>
                <!-- Main -->
                <main class="py-6 bg-surface-secondary">
                    <div class="container-fluid">
                        <div class="card shadow border-0 mb-7">
                            <div class="card-header">
                                <div class="row align-items-center" style="display: flex">
                                    <div class="col-sm-8 col-12 mb-4 mb-sm-0" style="display: flex">
                                        <h3 class="mb-0 ls-tight" style="padding-right: 8px">
                                            <a class="text-heading" th:href="@{'/administradorsede/ordenes-reposicion'}">
                                                Ordenes de reposición</a>
                                        </h3> <h3 class="text-success"> > Nueva orden</h3>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xl-7 col-sm-12">
                                <div class="card shadow border-0 mb-7">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col-12 mb-4 mb-sm-0">
                                                <h4 class="mb-0 ls-tight">Inventario de clínica</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container table-responsive mb-4">
                                        <table id="example" class="table table-hover" style="width:100%">
                                            <thead>
                                                <tr>

                                                    <th scope="col" class="text-center">Medicina</th>
                                                    <th scope="col" class="text-center">Categoría</th>
                                                    <th scope="col" class="text-center">Agregar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="producto,obj : ${listaProductos}" class="medicine-row">
                                                    <!--<input type="hidden" class="medicine-id" th:value="${producto.idProductos}">-->
                                                    <td class="text-center medicine-name">
                                                        <img alt="..." src="/img/AdministradorSede/medicina1.jpg"
                                                             class="avatar avatar-sm rounded-circle me-2">
                                                        <p th:text="${producto.nombre}"></p>
                                                    </td>
                                                    <td class="text-center" th:text="${producto.categorias.nombre}"></td>
                                                    <td class="text-center">
                                                        <button type="button" class="btn btn-sm btn-square btn-primary btn-plus">
                                                            <i class="bi bi-plus-circle"></i>
                                                        </button>
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-5 col-sm-8">

                                <div class="card shadow border-0 mb-7">
                                    <div class="card-container">
                                    <div class="card" style="width: 100%; min-width: 385px">

                                            <div class="card-header text-center" style="background: #373a93">
                                                <h4 class="mb-0 ls-tight" style="color: white">Orden de reposición</h4>

                                            </div>

                                        <form method="post" th:action="@{/administradorsede/guardarorden-reposicion}">
                                            <ul class="list-group list-group-flush">

                                               <li class="list-group-item">
                                                    <p>Ingrese cantidad deseada para cada medicamento:</p>
                                                    <!--<div class="row">
                                                        <div class="col-2 text-center">
                                                            <img alt="..." src="/img/AdministradorSede/medicina1.jpg"
                                                                 class="avatar avatar-sm rounded-circl">
                                                        </div>
                                                        <div class="col-5  d-flex justify-content align-items-center ">
                                                            <p>Paracetamol</p>
                                                        </div>
                                                        <div class="col-3">
                                                            <input class="form-control form-control-sm" type="number"
                                                                   placeholder="Cant.">
                                                        </div>
                                                        <div class="col-2 text-center">
                                                            <button type="button"
                                                                    class="btn btn-sm btn-square btn-danger">
                                                                <i class="bi bi-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>-->

                                               </li>

                                            </ul>
                                            <div class="card-footer text-center">
                                                <button type="submit" class="btn btn-success">
                                                    Generar Orden
                                                </button>

                                            </div>

                                        </form>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>


                    </div>


                </main>

            </div>
        </div>


        <script src="/js/AdministradorSede/script.js"></script>

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/AdministradorSede/table.js"></script>
        <script src="/js/AdministradorSede/nuevaOrden.js"></script>
        <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
        <script>
            new DataTable('#example');
        </script>


    </body>

</html>