<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Renacer Admin Sede</title>
    <link rel="icon" href="/img/Login/icono.png"/>
    <link rel="stylesheet" href="/css/AdministradorSede/style.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <style>
        /* Estilos personalizados para los botones de paginación */
        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #94a6b3;
            border-color: #94a6b3;
        }
        /* Estilos para el icono del doctor */
        .material-symbols-outlined {
            font-size: 20px;
            margin-left: -2px;
            font-variation-settings:
                    'FILL' 0,
                    'wght' 200,
                    'GRAD' 0,
                    'opsz' 24
        }
        .navbar-vertical.navbar-light .navbar-nav .nav-link i, .navbar-vertical.navbar-light .navbar-nav .nav-link svg{
            display: flex;
        }
    </style>
</head>

<body>
    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Vertical Navbar -->
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
            id="navbarVertical">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                    <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img src="/img/Login/icono.png"
                            width="40" class="pr-6"><span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer</h3>
                </a>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede'}">
                                <i class="bi bi-house"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="background: #F5F9FC" th:href="@{'/administradorsede/ordenes-reposicion'}">
                                <i class="bi bi-bag-plus btn" role="button" data-bs-toggle="button"></i> Órdenes de reposición
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/doctores'}">
                                <i><span class="material-symbols-outlined">stethoscope</span></i> Doctores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/farmacistas'}">
                                <i class="bi bi-people"></i> Farmacistas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/medicinas'}">
                                <i class="bi bi-capsule"></i> Medicinas
                            </a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/perfil'}">
                                <i class="bi bi-people"></i> Perfil
                            </a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/login'}">
                                <i class="bi bi-box-arrow-left"></i> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Header -->
            <header class="bg-surface-primary border-bottom pt-6">
                <div class="container-fluid">
                    <div class="mb-npx">
                        <div class="row align-items-center mb-5">
                            <div class="col-sm-8 col-12 mb-4 mb-sm-0">
                                <!-- Title -->
                                <h2 class="mb-0 ls-tight">
                                    <img src="/img/AdministradorSede/profile-3.jpeg" width="40"> Bienvenido, <span
                                        class="text-primary">Admin de Sede Javier Marroquin</span>
                                </h2>
                            </div>
                            <!-- Actions -->
                            <div class="col-sm-4 col-12 text-end">
                                <div class="mx-n1">
                                    <a th:href="@{'/administradorsede/perfil'}"
                                       class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-person-gear"></i>
                                    </span>
                                        <span>Mi perfil</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- Main -->
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    <div class="card shadow border-0 mb-7">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div  class="col-sm-8 col-12 mb-4 mb-sm-0">
                                    <h3 class="mb-0 ls-tight">Órdenes de reposición</h3>
                                </div>

                                <div class="col-sm-4 col-12 d-flex align-items-center justify-content-end">
                                    <a th:href="@{'/administradorsede/nuevaOrden?primeraVez=' + 1}" class="btn d-inline-flex btn-sm btn-success mx-1 align-items-center">

                                        <span class=" pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                        <span>Nueva Orden</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Modal agregar -->
                        <div class="modal fade" id="modaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresa los datos de la
                                            nueva<br> <strong>Orden de Reposicion</strong>:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <form method="post" th:action="@{/administradorsede/guardarorden-reposicion}">
                                    <div class="modal-body row">

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="idProducto">Nombre del Producto:</label>
                                                <select id="idProducto"  name="idProducto" class="form-select">
                                                    <option th:each="medicinasede,obj: ${listaMedicinas}" th:value="${medicinasede.productos.idProductos}" th:text="${medicinasede.productos.nombre}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="cantidad">Cantidad</label>
                                                <input id="cantidad" name="cantidad" type="number" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="fechaEntrega">Fecha de entrega:</label>
                                                <input id="fechaEntrega" name="fechaEntrega" type="date" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="sede">Sede Destino:</label>
                                                <select id="sede" class="form-select">
                                                    <option selected>San Miguel 1</option>
                                                    <option>San Miguel 2</option>
                                                    <option>San Miguel 3</option>
                                                    <option>San Miguel 4</option>
                                                    <option>San Miguel 5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#agregar">Generar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <!--Modal agregado exitaosamente-->
                        <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2 class="text-center">Orden de Reposicion generada exitosamente.</h2>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--TABLA-->
                        <div class="container table-responsive mb-4">
                            <table id="example" class="table table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Nro de orden</th>
                                        <th scope="col" class="text-center">Sede Destino</th>
                                        <th scope="col" class="text-center">Estado</th>
                                        <th scope="col" class="text-center">Fecha de Entrega</th>
                                        <th scope="col" class="text-center">Costo (S/.)</th>
                                        <th scope="col" class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="ordenRepo,obj: ${listaOrdenesReposicion}">
                                        <td class="text-center">
                                            <a th:text="${ordenRepo.codigo}" class="text-heading font-semibold" href="#">

                                            </a>
                                        </td>
                                        <td class="text-center" th:text="${adminSede.sedes.nombre}"></td>
                                        <td class="text-center" th:text="${ordenRepo.estadoOrden.nombre}"></td>
                                        <td class="text-center" th:text="${ordenRepo.fechaEntrega}"></td>
                                        <td class="text-center" th:text="${ordenRepo.monto}"></td>
                                        <td class="text-center">
                                            <a th:href="@{'/administradorsede/verOrden?idOrdenRepo=' + ${ordenRepo.idordenes}}">
<!--                                                <button type="button" class="btn btn-sm btn-square btn-primary"  data-bs-toggle="modal" data-bs-target="#verOrden">-->
                                                <button type="button" class="btn btn-sm btn-square btn-primary" >
                                                    <i class="bi bi-eye"></i>
                                                </button>
                                            </a>

                                            <button type="button" class="btn btn-sm btn-square btn-danger" data-bs-toggle="modal"
                                                 th:data-bs-target ="${'#modaEliminar'+ obj.index}">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Modal ver orden -->
                        <div class="modal fade" id="verOrden" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="exampleModalLabel">Orden de reposición N°123</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">ID</th>
                                                        <th class="text-center">Imagen</th>
                                                        <th class="text-center">Nombre Producto</th>
                                                        <th class="text-center">Cantidad</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">123</td>
                                                        <td class="text-center">
                                                            <img alt="..." src="/img/Superadmin/medicina1.jpg" class="avatar avatar-sm rounded-circle me-2">
                                                        </td>
                                                        <td class="text-center">Paracetamol</td>
                                                        <td class="text-center">100</td>
                                                    </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <a type="button" th:href="@{'/administradorsede/editarOrden'}" class="btn  btn-warning"> Editar</a>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal Eliminar -->
                        <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" th:each="ordenRepo, obj : ${listaOrdenesReposicion}" th:id ="${'modaEliminar'+ obj.index}">
                            <div class="modal-dialog">
                                <div class="modal-content text-center">
                                    <div class="modal-header">
                                        <h3 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que desea
                                            eliminar la orden N° 71273166?</h3>
                                    </div>

                                    <div class="modal-footer d-flex justify-content-center">
                                        <a type="button" class="btn btn-primary" th:href="@{'/administradorsede/borrarorden-reposicion?idOrden=' + ${ordenRepo.idordenes}}">Eliminar</a>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Modal eliminado exitaosamente-->
                        <div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h3 class="text-center">Se eliminó la orden exitosamente.</h3>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">

                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="/js/AdministradorSede/script.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Superadmin/table.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>