<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Renacer SuperAdmin</title>
    <link rel="stylesheet" href="/css/AdministradorSede/style.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.min.css">
    <style>
        /* Estilos personalizados para los botones de paginación */
        li.dt-paging-button.page-item {
            padding: 2px;
            margin: 0 2px;
            border: 1px solid #ccc;
            background-color: #f2f2f2;
            color: #333;
            border-radius: 3px;
        }

        /* Estilos para el botón activo */
        .dt-paging-button.page-item.active a {
            background-color: rgb(92 96 245) !important;
            color: #fff !important;
        }

        /* Estilos para el botón activo */
        .dt-paging-button.page-item.disabled a {
            opacity: 0.5;
            /* Por ejemplo, reducir la opacidad */
        }
    </style>
</head>

<body>
    <!-- Dashboard -->
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <!-- Vertical Navbar -->
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg"
            id="navbarVertical">
            <div class="container-fluid">
                <!-- Toggler -->
                <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                    <h3 class="text-success"><img src="/img/AdministradorSede/Imagen de WhatsApp 2024-04-09 a las 00.28.48_3d5ed18c.png"
                            width="40" class="pr-6"><span class="text-info">Clínica</span>Renacer</h3>
                </a>
                <!-- User menu (mobile) -->
                <div class="navbar-user d-lg-none">
                    <!-- Dropdown -->
                    <div class="dropdown">
                        <!-- Toggle -->
                        <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="avatar-parent-child">
                                <img alt="Image Placeholder"
                                    src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80"
                                    class="avatar avatar- rounded-circle">
                                <span class="avatar-child avatar-badge bg-success"></span>
                            </div>
                        </a>
                        <!-- Menu 
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                        <a href="#" class="dropdown-item">Perfil</a>
                        <a href="#" class="dropdown-item">Configuracion</a>
                        <a href="#" class="dropdown-item">Cerrar Sesión</a>
                    </div> -->

                    </div>
                </div>
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede'}">
                                <i class="bi bi-house"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/ordenes-reposicion'}">
                                <i class="bi bi-bar-chart btn" role="button" data-bs-toggle="button"></i> Ordenes de
                                Reposicion
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/doctores'}">
                                <i class="bi bi-people"></i> Doctores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/farmacistas'}">
                                <i class="bi bi-people"></i> Farmacistas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/medicinas'}">
                                <i class="bi bi-people"></i> Medicinas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/administradorsede/perfil'}">
                                <i class="bi bi-people"></i> Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/login'}">
                                <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main content -->
        <div class="h-screen flex-grow-1 overflow-y-lg-auto">
            <!-- Header -->
            <header class="bg-surface-primary border-bottom pt-6">
                <div class="container-fluid">
                    <div class="mb-npx">
                        <div class="row align-items-center">
                            <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                                <!-- Title -->
                                <h1 class="h2 mb-0 ls-tight">
                                    Bienvenido, <span class="text-primary">Admin. de Sede Javier Marroquin</span></h1>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
            <!-- Main -->
            <main class="py-6 bg-surface-secondary">
                <div class="container-fluid">
                    <div class="card shadow border-0 mb-7">
                        <div class="card-header">
                            <div class="row">
                                <div class="col md-5">
                                    <h2 class="mb-0">Ordenes de Reposicion</h2>
                                </div>
                                <div class="col md-5">

                                </div>
                                <div class="col md-2">
                                    <a href="#" class="btn d-inline-flex btn-sm btn-success mx-1" data-bs-toggle="modal"
                                        data-bs-target="#modaAgregar">
                                        <span class=" pe-2">
                                            <i class="bi bi-plus"></i>
                                        </span>
                                        <span>Nueva Orden</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Modal agregar -->
                        <div class="modal fade" id="modaAgregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingresa los datos de la
                                            nueva<br> <strong>Orden de Reposicion</strong>:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body row">

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="nombre">Nombre del Producto:</label>
                                                <input type="text" class="form-control" placeholder="Colocar Producto">
                                            </div>

                                            <div class="col">
                                                <label for="costo">Costo:</label>
                                                <input type="number" class="form-control"
                                                    placeholder="Ingresa el costo">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="FechaEntrega">Fecha de entrega:</label>
                                                <input type="date" class="form-control">
                                            </div>


                                            <!--<div class="col">
                                            <label for="distrito">Fecha de entrega</label>
                                            <input type="text" class="form-control" placeholder="Coloca su distrito">
                                        </div>-->
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="sede">Sede Destino:</label>
                                                <select id="sede" class="form-select">
                                                    <option selected>San Miguel 1</option>
                                                    <option>San Miguel 2</option>
                                                    <option>San Miguel 3</option>
                                                    <option>San Miguel 4</option>
                                                    <option>San Miguel 5</option>
                                                </select>
                                            </div>
                                        </div>




                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#agregar">Generar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal agregado exitaosamente-->
                        <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2 class="text-center">Orden de Reposicion generada exitosamente.</h2>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary "
                                            data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive mx-auto">
                            <table class="table table-hover table-nowrap" id="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Nro de orden</th>
                                        <th scope="col">Sede Destino</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Fecha de Entrega</th>
                                        <th scope="col">Costo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="ordenRepo,obj: ${listaOrdenesReposicion}">
                                        <td>
                                            <a th:text="${ordenRepo.codigo}" class="text-heading font-semibold" href="#">

                                            </a>
                                        </td>
                                        <td>San Miguel</td>
                                        <td th:text="${ordenRepo.estadoOrden.nombre}"></td>
                                        <td th:text="${ordenRepo.fechaEntrega}"></td>
                                        <td th:text="${ordenRepo.monto}"></td>
                                        <td class="text-end">
                                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#modaActualizar">
                                                Ver
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#modaBanear">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Modal Actualizar -->
                        <div class="modal fade" id="modaActualizar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de la <br> Orden de
                                            Reposicion:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body row">

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="Codigo">Nro de orden:</label>
                                                <input type="text" class="form-control" placeholder="71273166">
                                            </div>

                                            <div class="col">
                                                <label for="nombre">Nombre del producto:</label>
                                                <input type="text" class="form-control" placeholder="Paracetamol">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="costo">Costo:</label>
                                                <input type="number" class="form-control" placeholder="100">
                                            </div>


                                            <div class="col">
                                                <label for="FechaEntrega">Fecha de Entrega:</label>
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>

                                        <div class="row pt-5">
                                            <div class="col">
                                                <label for="sede">Sede Destino:</label>
                                                <select id="sede" class="form-select">
                                                    <option selected>San Miguel 1</option>
                                                    <option>San Miguel 2</option>
                                                    <option>San Miguel 3</option>
                                                    <option>San Miguel 4</option>
                                                    <option>San Miguel 5</option>
                                                </select>
                                            </div>
                                        </div>




                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#actualizar">Actualizar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal banear -->
                        <div class="modal fade" id="modaBanear" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-5" id="exampleModalLabel">¿Esta seguro que desea
                                            eliminar <br> la orden N° 71273166?</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body row">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#elimino">Ok</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal agregado exitaosamente-->
                        <div class="modal fade" id="actualizar" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2 class="text-center"> Orden de reposicion actualizada exitosamente.</h2>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Modal baneado exitaosamente-->
                        <div class="modal fade" id="elimino" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2 class="text-center">Se elimino la orden exitosamente.</h2>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="button" class="btn btn-primary"
                                            data-bs-dismiss="modal">Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer border-0 py-5 mx-auto">
                            <!--<nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link disabled" href="#">Anterior</a></li>
                            <li class="page-item"><a class="page-link bg-primary text-white" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                          </ul>
                        </nav>-->
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/js/AdministradorSede/script.js"></script>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--DataTable-->
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js"></script>
    <!---->
    <script src="/js/AdministradorSede/controladorTabla.js"></script>
</body>

</html>