<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clínica Renacer SuperAdmin</title>
  <link rel="stylesheet" href="/css/AdministradorSede/style.css">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" th:href="@{'/administradorsede'}">
                <h3 class="text-success"><img src="/img/AdministradorSede/Imagen de WhatsApp 2024-04-09 a las 00.28.48_3d5ed18c.png" width="40" class="pr-6"><span class="text-info">Clínica</span>Renacer</h3>
            </a>
            <!-- User menu (mobile) -->
            <div class="navbar-user d-lg-none">
                <!-- Dropdown -->
                <div class="dropdown">
                    <!-- Toggle -->
                    <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-parent-child">
                            <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                            <span class="avatar-child avatar-badge bg-success"></span>
                        </div>
                    </a>
                    <!-- Menu 
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                        <a href="#" class="dropdown-item">Perfil</a>
                        <a href="#" class="dropdown-item">Configuracion</a>
                        <a href="#" class="dropdown-item">Cerrar Sesión</a>
                    </div> -->
                    
                </div>
            </div>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede'}">
                            <i class="bi bi-house btn" role="button" data-bs-toggle="button"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede'}">
                            <i class="bi bi-bar-chart"></i> Inventario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/administradorsede'}">
                            <i class="bi bi-people"></i> Solicitudes de reposición
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/login'}">
                            <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                        </a>
                    </li>  
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">
                                <img src="/img/AdministradorSede/profile-3.jpeg" width="40"> Bienvenido, <span class="text-primary">S.Admin.Robert Harry</span></h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a href="/editarPerfil.html" class="btn d-inline-flex btn-sm btn-neutral border-base mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span>Editar perfil</span>
                                </a>
                                
                                <a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-gear-wide-connected"></i>
                                    </span>
                                    <span>Administrar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item ">
                            <a href="/" class="nav-link font-regular">Administrador de Sede</a>
                        </li>
                        <li class="nav-item">
                            <a href="/farmacistas.html" class="nav-link font-regular">Farmacistas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/doctores.html" class="nav-link font-regular">Doctores</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pacientes.html" class="nav-link active">Pacientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h2 class="mb-0">Lista de pacientes</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">DNI</th>
                                    <th scope="col">Correo</th>
                                    <th scope="col">Seguro</th>
                                    <th scope="col">Dirección</th>
                                    <th scope="col">Distrito</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img alt="..." src="/img/AdministradorSede/profile-3.jpeg" class="avatar avatar-sm rounded-circle me-2">
                                        <a class="text-heading font-semibold" href="#">
                                            Jason Martinez
                                        </a>
                                    </td>
                                    <td>
                                        12345678
                                    </td>
                                    <td>
                                        correo@correo.com
                                    </td>
                                    <td>
                                        Si
                                    </td>
                                    <td>
                                        -dirección-
                                    </td>
                                    <td>
                                        Miraflores
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="..." src="/img/AdministradorSede/profile-3.jpeg" class="avatar avatar-sm rounded-circle me-2">
                                        <a class="text-heading font-semibold" href="#">
                                            Jason Martinez
                                        </a>
                                    </td>
                                    <td>
                                        12345678
                                    </td>
                                    <td>
                                        correo@correo.com
                                    </td>
                                    <td>
                                        No
                                    </td>
                                    <td>
                                        -dirección-
                                    </td>
                                    <td>
                                        San Isidro
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img alt="..." src="/img/AdministradorSede/profile-3.jpeg" class="avatar avatar-sm rounded-circle me-2">
                                        <a class="text-heading font-semibold" href="#">
                                            Jason Martinez
                                        </a>
                                    </td>
                                    <td>
                                        12345678
                                    </td>
                                    <td>
                                        correo@correo.com
                                    </td>
                                    <td>
                                        Si
                                    </td>
                                    <td>
                                        -dirección-
                                    </td>
                                    <td>
                                        Miraflores
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item"><a class="page-link disabled" href="#">Anterior</a></li>
                            <li class="page-item"><a class="page-link bg-primarytext-white" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="/js/AdministradorSede/script.js"></script>
</body>
</html>
