/*bytewebster.com*/
/*bytewebster.com*/
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

textarea {
    height: 5px;
}

.icono svg{
    width: 100px;
    height: 100px;
    color: green
}

.icono1 svg{
    width: 100px;
    height: 100px;
    color: red
}

#myChart {
    max-width: 100%;
}
#myChart2 {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: block;

}
#myChart3 {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

.card-container {
    overflow-x: auto; /* Activar la barra de desplazamiento horizontal cuando sea necesario */
    white-space: nowrap; /* Evitar que el contenido se envuelva */
}

.swal2-html-container {
    text-align: center;
}

.swal2-popup {
    background-color: white !important; /* Cambia el color de fondo del modal */
}

.swal-custom-popup {
    background-color: #ffffff !important; /* Cambia el color de fondo del modal */
}

.swal-custom-title {
    color: #ff0000 !important; /* Cambia el color del título del modal */
}

.swal-custom-content {
    color: #000000 !important; /* Cambia el color del contenido del modal */
}

.steps .step {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    /*height: 80px;*/
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 30px;
    line-height: 60px;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 8px;
    margin-bottom: 0;
    color: #606975;
    font-size: 12px;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}


@media (max-width: 576px) {
    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {
    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {
    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {
    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}