@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
    font-family: "Poppins", sans-serif;

}

main {
    width: 100%;
    min-height: 100vh;
    background-color: #89c2d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 80%;
    max-width: 980px;
    min-height: 640px;
    background-color: #fff;
    padding: 1em 3em;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 35px;
    margin-right: 0.3rem;
}

.logo p {
    font-size: 1rem;
    margin-top: 6px;
}

.logo h1 {
    font-size: 1.5rem;
    margin-top: -20px;
    letter-spacing: -0.5px;
    color: #2973e9;
}

form {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.columna {
    padding: 0 2em;
}

.sign-btn {
    display: inline-block;
    width: 150px;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color: #0077B6;
}

.inicio{
    display: inline;
}
.inicio h6 {
    color: #bababa;
    font-weight: 400;
    font-size: 0.85rem;
    display: inline;
    padding: 0;
}

.inicio a {
    color: #151111;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    transition: 0.3s;
    padding: 0;
}

.inicio a:hover{
    color: #0077B6;
  }
  
@media (max-width: 850px) {
    .container {
        height: auto;
        width: 100%;
        max-width: 550px;
        overflow: hidden;
    }

    .columna {
        padding: 0 1em;
    }

}

@media (max-width: 530px) {
    main {
        padding: 1rem;
    }

    .container {
        border-radius: 2rem;
        padding: 1em 1em;
        width: 100%;
    }


    form {
        padding: 1rem 2rem 1.5rem;
    }

    .columna {
        padding: 0;
    }
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item {
    cursor: pointer;
}

.dttobtn {
    width: 100%;
    height: 58px;
    border-color: #dee2e6 !important;
}

.is-invalid-container {
    border-color: #dc3545 !important;
}