<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Clínica Renacer</title>
        <link rel="icon" href="/img/Login/icono.png"/>
        <link rel="stylesheet" href="/css/Login/style_login.css"/>
    </head>
    <body>
        <main>
            <div class="box">
                <div class="inner-box">
                    <div class="forms-wrap">
                        <form th:action="@{/submitLoginForm}" autocomplete="off" method="post" class="sign-in-form" id="signin-form" novalidate>
                            <div class="logo">
                                <img src="/img/Login/icono.png" alt="renacer"/>

                                <div>
                                    <p>Clínica</p>
                                    <h1>Renacer</h1>
                                </div>

                            </div>

                            <div class="heading">
                                <h3>Inicia Sesión</h3>
                                <h6>¿No tienes una cuenta?</h6>
                                <a th:href="@{'/registro'}">Regístrate</a>
                            </div>
                            <div th:if="${err != null}" th:text="${err}" style="color: red" role="alert"></div>
                            <div th:if="${msg != null}" th:text="${msg}" style="color: green" role="alert"></div>
                            <div>
                                <!-- Mostrar mensaje de logout -->
                                <script>
                                    const urlParams = new URLSearchParams(window.location.search);
                                    if (urlParams.has('logout')) {
                                        document.write('<p style="color: green" role="alert">Has cerrado sesión exitosamente.</p>');
                                    }
                                </script>
                            </div>
                            <div class="actual-form">
                                <div class="input-wrap">
                                    <input
                                            id="signin-email"
                                            type="email"
                                            class="input-field"
                                            autocomplete="off"
                                            name="username"
                                    />
                                    <label>Correo electrónico</label>

                                </div>
                                <div>
                                    <p id="signinemail-error" class="error-message"></p>
                                </div>

                                <div class="input-wrap">
                                    <input
                                            id="signin-pass"
                                            type="password"
                                            class="input-field"
                                            autocomplete="off"
                                            name="password"
                                    />
                                    <label>Contraseña</label>

                                </div>
                                <div>
                                    <p id="password-error" class="error-message"></p>
                                </div>

                                <input type="submit" value="Ingresar" class="sign-btn">

                                <h4 th:if="${param.error}" style="color:red">Acceso denegado</h4>
                                <p class="text">
                                    <a href="#" class="toggle">¿No recuerdas tu contraseña?</a>
                                </p>
                            </div>
                        </form>

                        <form th:action="@{/recuperarCuenta}" method="post" autocomplete="off" class="sign-up-form" id="newpass-form" novalidate>
                            <div class="logo">
                                <img src="/img/Login/icono.png" alt="renacer"/>
                                <div>
                                    <p>Clínica</p>
                                    <h1>Renacer</h1>
                                </div>
                            </div>

                            <div class="heading">
                                <h3>Recupera tu cuenta</h3>
                                <h6>¿No tienes una cuenta?</h6>
                                <a th:href="@{'/registro'}">Regístrate</a>
                            </div>

                            <p class="text">
                                Ingrese su correo electrónico y le enviaremos un enlace para restablecer su contraseña.
                            </p>
                            <div class="actual-form">

                                <div class="input-wrap">
                                    <input
                                            id="email"
                                            type="email"
                                            class="input-field"
                                            autocomplete="off"
                                            name="email"
                                    />
                                    <label>Email</label>
                                </div>
                                <p id="email-error" class="message"></p>
                                <button type="submit"  class="sign-btn">Enviar enlace</button>

                                <!-- hacer que este submit te muestre un modal sobre q se mando un correo -->
                                <p class="text">
                                    <a href="#" class="toggle">Volver al inicio</a>
                                </p>
                            </div>
                        </form>
                    </div>

                    <div class="carousel">
                        <div class="images-wrapper">
                            <img src="/img/Login/medicamentos.png" class="image img-1 show" alt=""/>
                            <img src="/img/Login/farmacista.png" class="image img-2" alt=""/>
                            <img src="/img/Login/entrega.png" class="image img-3" alt=""/>
                        </div>

                        <div class="text-slider">
                            <div class="text-wrap">
                                <div class="text-group">
                                    <h2>Medicamentos al alcance</h2>
                                    <h2>Asesoramiento farmacéutico</h2>
                                    <h2>Entrega rápida garantizada</h2>
                                </div>
                            </div>

                            <div class="bullets">
                                <span class="active" data-value="1"></span>
                                <span data-value="2"></span>
                                <span data-value="3"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Javascript file -->

        <script src="/js/Login/app.js"></script>
        <script src="/js/Login/validaciones.js"></script>
    </body>
</html>
