<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Registro</title>
        <link rel="icon" href="/img/Login/icono.png"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/css/Login/registro.css"/>
        <!--        <style>
                    /* Estilo para ocultar las flechas en los campos de entrada de tipo número */
                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    input[type=number] {
                        -moz-appearance: textfield; /* Firefox */
                    }
                </style>-->
    </head>

    <body>
        <main>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <img src="/img/Login/icono.png" alt="renacer"/>
                        <div>
                            <p>Clínica</p>
                            <h1>Renacer</h1>
                        </div>
                    </div>

                </div>

                <div class="row text-center mb-3">
                    <h2>Crea una cuenta</h2>
                </div>
                <div th:if="${err != null}" th:text="${err}" style="color: red" role="alert"></div>
                <div th:if="${msg != null}" th:text="${msg}" style="color: green" role="alert"></div>


                <div class="row ">
                    <div class="col">
                        <form class="needs-validation" novalidate method="post" th:action="@{/guardarPaciente}">
                            <div class="row justify-content-center">
                                <div class="col columna">
                                    <div class="form-floating mb-3">
                                        <input
                                                id="numberInput" onblur="autocompletarDni()"
                                                minlength="8" maxlength="8"
                                                type="text" class="form-control" placeholder="DNI"
                                                autocomplete="off" name="dni" required/>
                                        <label>DNI</label>
                                        <div class="invalid-feedback">
                                            El DNI debe tener 8 dígitos.
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Nombre y apellidos autocompletados-->
                            <div class="row justify-content-center">
                                <div class="col-md-6 columna">
                                    <div class="form-floating mb-3">
                                        <input
                                                pattern="[A-Za-z].+"
                                                type="text" class="form-control" placeholder="Apellido" maxlength="50"
                                                autocomplete="off" name="nombres" id="nombre"  disabled readonly/>
                                        <label>Nombre</label>
                                        <div class="invalid-feedback">
                                            Por favor ingrese un nombre.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 columna">
                                    <div class="form-floating mb-3">
                                        <input
                                                pattern="[A-Za-z].+"
                                                type="text" class="form-control" placeholder="Apellido" maxlength="50"
                                                autocomplete="off" name="apellidos" id="apellido" disabled readonly/>
                                        <label>Apellido</label>
                                        <div class="invalid-feedback">
                                            Por favor ingrese un apellido.
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-6 columna">
                                    <div class="form-floating mb-3">
                                        <input maxlength="99" type="text" class="form-control"
                                               placeholder="Dirección"
                                               autocomplete="off" name="direccion" required/>
                                        <label>Dirección</label>
                                        <div class="invalid-feedback">
                                            Por favor ingrese una dirección.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 columna">
                                    <div class="form-floating mb-3">
                                        <input maxlength="99" type="text" class="form-control"
                                               placeholder="Distrito"
                                               autocomplete="off" name="distritoResidencia" required/>
                                        <label>Distrito de residencia</label>
                                        <div class="invalid-feedback">
                                            Por favor ingrese un distrito de residencia.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col columna">
                                    <div class="form-floating mb-3">
                                        <input pattern="[A-za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,}"
                                               type="email" class="form-control" placeholder="Correo electrónico"
                                               autocomplete="off" name="correo" required/>
                                        <label>Correo electrónico</label>
                                        <div class="invalid-feedback">
                                            Por favor ingrese un correo.
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row justify-content-center">
                                <div class="col columna ">
                                    <div class="form-control mb-3">
                                        <p>¿Cuenta con seguro en la clínica Renacer?</p>
                                        <div>

                                            <input class="form-check-input" type="radio" name="seguro" value="si"
                                                   required>
                                            <label class="form-check-label">Sí</label>

                                            <input class="form-check-input" type="radio" name="seguro" value="no"
                                                   required>
                                            <label class="form-check-label"> No</label>
                                            <div class="invalid-feedback">
                                                Por favor seleccione una opción.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                <div class="row mt-2 justify-content-center">
                    <input type="submit" value="Registrar" class="sign-btn">
                </div>
                <div class="row inicio">
                    <h6>¿Ya tienes una cuenta?</h6>
                    <a th:href="@{'/login'}">Entrar</a>
                </div>

                </form>
            </div>
            </div>

            </div>
        </main>

        <script>
            function autocompletarDni() {
                let dni = document.getElementById("numberInput").value;

                fetch(`/api/dni?dni=${dni}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 422 || data.status === 404) {
                            alert(data.message);
                        } else {
                            document.getElementById("nombre").value = data.data.nombres;
                            document.getElementById("apellido").value = `${data.data.apellido_paterno} ${data.data.apellido_materno}`;
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
        </script>

        <script>
            // JavaScript para permitir solo la entrada de números
            document.getElementById("numberInput").addEventListener("keydown", function (event) {
                // Permite las teclas de flecha, retroceso y suprimir
                if (event.key === "ArrowLeft" || event.key === "ArrowRight" || event.key === "Backspace" || event.key === "Delete") {
                    return;
                }
                // Permite los dígitos numéricos
                if (event.key < "0" || event.key > "9") {
                    event.preventDefault();
                }
            });
        </script>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>

    </body>

</html>