<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/Login/icono.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra plataforma</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .password {
            font-weight: bold;
            color: #007bff;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
            src='cid:icono.png' alt='Embedded Image' style="width: 35px; height: auto;">
        <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica Renacer</span>
    </h1>
    <p>Gracias por generar tu orden de compra</p>
    <p>Por favor, ingrese a su cuenta y dirigase a la parte de historial de compras, identifique su pedido por el N° de orden
    y podrá visualizar todo el procedimiento de su orden.</p>
    <div id="content"  class="container-fluid rounded">
        <div class="row">
            <div class="col-xs-10 ">
                <h1 th:text="'Registro de compra '+${ordenActual.codigo}"></h1>
            </div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div style="display: flex;
                                                align-items: center;">
                            <div>
                                <h3 style="color:#2973e9; font-size: 1.5rem; font-weight: bold">
                                    <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Clínica</span>Renacer
                                </h3>
                            </div>
                        </div>
                        <div> RUC: 234567891010</div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-2 text-center">
                                <strong>Fecha de Registro:</strong>
                                <br>
                                <p th:text="${ordenActual.fechaRegistro}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="row">
                            <div class="col-xs-2 text-center">
                                <strong>Fecha de entrega:</strong>
                                <br>
                                <p th:text="${ordenActual.fechaEntrega}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr>
        <div class="row text-center" style="margin-bottom: 2rem;">
            <div class="col-6">
                <h2 class="h2">Cliente</h2>
                <strong th:text="${ordenActual.usuarios.nombre}"></strong>
            </div>
            <div class="col-6">
                <h2 class="h2">Remitente</h2>
                <strong>CLINICA RENACER S.A.C.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 28%;">Producto</th>
                        <th class="text-center" style="width: 15%;">Cantidad</th>
                        <th class="text-center" style="width: 22%;">Precio unitario</th>
                        <th class="text-center" style="width: 20%;">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detalle, obj : ${orderDetails}">
                        <td class="text-center" th:text="${detalle.productos.nombre}"></td>
                        <td class="text-center" th:text="${detalle.cantidad}"></td>
                        <td class="text-center" th:text="'S/. ' + ${#numbers.formatDecimal(detalle.productos.precio, 0,2, 'POINT')}"></td>
                        <td class="text-center" th:text="'S/. ' + ${#numbers.formatDecimal(detalle.montoParcial, 0,2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Subtotal</td>
                        <td colspan="2" class="text-right" th:text="'S/. ' + ${#numbers.formatDecimal(ordenActual.monto,0,2,'POINT')}"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Descuento</td>
                        <td colspan="2">S/. 0.00</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">Impuestos</td>
                        <td colspan="2">IGV incluido</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-right">
                            <h4>Total</h4>
                        </td>
                        <td colspan="2">
                            <h4 class="text-right" th:text="'S/. ' + ${#numbers.formatDecimal(ordenActual.monto,0,2,'POINT')}"></h4>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="h5">Gracias por su preferencia</p>
            </div>
        </div>
    </div>
    <p>Web: <span th:text="${linklogin}"></span></p>
    <p>Si tiene alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
    <p>¡Gracias por tu confianza!</p>
</div>
</body>
</html>