<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/Login/icono.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a nuestra plataforma</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .password {
            font-weight: bold;
            color: #007bff;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 style="color:#2973e9; font-size: 1.5rem; font-weight: bold"><img
            src="/img/Login/icono.png" width="40" class="pr-6">
        <span class="text-dark" style="padding-left: 5px; padding-right: 5px">Bienvenido a Clínica Renacer</span>
    </h1>
    <p>Gracias por registrarte en nuestro sitio. A continuación encontrarás tu contraseña temporal:</p>
    <p class="password">Contraseña temporal: <span th:text="${password}"></span></p>
    <p>Por favor, use la contraseña temporal y su correo para iniciar sesión. Cuando inicie sesión, deberá cambiar su contraseña.</p>
    <p>Recuerde que esta contraseña expirará en 5 minutos</p>
    <p>También puede usar el siguiente enlace para cambiar su contraseña: <span th:text="${link}"></span></p>
    <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.</p>
    <p>¡Gracias y bienvenido!</p>
</div>
</body>
</html>