<script>
  function actualizarSubtotal(filaId) {
      var precio = parseFloat(document.querySelector('#' + filaId + ' .mg').innerText.replace('S/. ', ''));
      var cantidad = parseInt(document.querySelector('#' + filaId + ' #cantidad' + filaId.substring(4)).value);
      var subtotal = precio * cantidad;
      document.querySelector('#' + filaId + ' #subtotal' + filaId.substring(4)).innerText = 'S/. ' + subtotal.toFixed(2);
  

  var cantidadTotal = 0;
        var costoTotal = 0;

        var filas = document.querySelectorAll('[id^="fila"]');
        filas.forEach(function(fila) {
            var cantidadFila = parseInt(document.querySelector('#' + fila.id + ' #cantidad' + fila.id.substring(4)).value);
            cantidadTotal += cantidadFila;

            var precioFila = parseFloat(document.querySelector('#' + fila.id + ' .mg').innerText.replace('S/. ', ''));
            costoTotal += precioFila * cantidadFila;
        });

        // Actualizar elementos en el resumen de la orden
        document.getElementById('cantidadTotal').innerText = 'Productos(' + cantidadTotal + ')';
        document.getElementById('costoTotal').innerText = 'Total S/. ' + costoTotal.toFixed(2);
    }
</script>





<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Farmacias Clínica Renacer</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/FarmaciaWebVenta/logo/icono.png" type="image/x-icon">

  <!-- Custom CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/FarmaciaWebVenta/style-prefix.css">
  <link rel="stylesheet" href="/css/FarmaciaWebVenta/style.css">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  


</head>


<body>


  <div class="overlay" data-overlay></div>

  <!--
    - MODAL
  -->

  <div  data-modal>

    <div  data-modal-overlay></div>

    <div >

      <button  data-modal-close>
       
      </button>


    </div>

  </div>





  <!--
    - NOTIFICATION TOAST
  -->

  <div data-toast>

    <button  data-toast-close>
      
    </button>

  </div>

  <!--
    - HEADER
  -->

  <header th:replace="~{FarmaciaWebVenta/fragments_clinicaweb/cabecera.html :: cabecera}">
  </header>

  <!--
    - MAIN
  -->

  <main>

    <br>
    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">

        <div class="product-box">
          <!--
            - Carrito de compras
          -->

            <div class="product-featured">

                <div class="showcase-wrapper has-scrollbar">
                    <div class="showcase-container">
                        <h3>Mi carrito</h3>
                        <hr>
                        <div class="container">
                            <div class="table-responsive">
                                <form action="" class="form-cart">
                                    <div class="item">
                                        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                                        <div th:if="${err != null}" th:text="${err}" class="alert alert-danger" role="alert"></div>
                                        <div th:if="${wrn != null}" th:text="${wrn}" class="alert alert-warning" role="alert"></div>
                                        <table class="table table-bordered" id="cart-table">
                                            <thead class="table-dark">
                                            <tr>
                                                <th>Producto</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Subtotal</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>

                                            <tbody>


                                                <tr  th:each="detalle, obj :  ${listaDetallesOrden}">
                                                    <form th:action="@{/clinicarenacer/paciente/actualizardetalles}" method="post">
                                                    <input type= "hidden" th:value="1000" name="idCarrito">
                                                    <input type= "hidden" th:value="${detalle.idDetallesOrden}" name="idDetalle">
                                                    <td>
                                                        <div class="content ">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col d-flex justify-content-center">
                                                                        <img th:src="@{|/imageProduct/${detalle.productos.idProductos}|}" alt="analgésicos" width="50">
                                                                    </div>
                                                                    <div class="col" th:text="${detalle.productos.nombre}"><a th:href="@{'/clinicarenacer/producto?idProductos='+${detalle.productos.idProductos}}"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="mg ">
                                                        <div class="d-flex justify-content-center">
                                                            <p class="d-flex align-items-center" th:text="'S/. ' +${detalle.productos.precio}"></p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input id="cantidad1" type="number" class="form-control" th:value="${detalle.cantidad}" min="1" onchange="actualizarSubtotal('fila1')" name="cantidad">
                                                        </div>
                                                    </td>
                                                    <td id="subtotal1" th:text="${detalle.productos.precio}"></td>


                                                    <td class="text-end">
                                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                                    </td>
                                                    <td class="text-end">
                                                        <a type="button" class="btn btn-danger" th:href="@{'/clinicarenacer/paciente/eliminardetalles?idDetalle=' + ${detalle.idDetallesOrden} + '&' + 'idCarrito='+ ${ordenCarrito.idordenes} }">Eliminar</a>
                                                    </td>

                                                    </form>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </div>






        </div>


        <div class="sidebar-category product-featured">
            <div class="sidebar-top">
                <h1 class="sidebar-title">Resumen de la orden</h1>
                <hr>
            </div>
            <div>
                <h6 id="cantidadTotal" th:text="'Productos('+${listaDetallesOrden.size()}+')'"></h6>
                <!--<h6 id="costoTotal" >Total a pagar: S/. 0.00</h6>-->
                <a th:href="@{'/clinicarenacer/paciente/pagar?idCarrito='+${ordenCarrito.idordenes}}" class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-primary">Pagar</button>
                </a>
            </div>
        </div>

      </div>

    </div>

    <!-- Modal elminar -->
    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">¿Esta seguro que desea eliminar este producto?</h1>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#actualizar">Elminar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
      </div>
    </div>



  </main>

  <!--
      - FOOTER
    -->

  <footer th:replace="~{FarmaciaWebVenta/fragments_clinicaweb/footer.html :: footer}">
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <!--
    - custom js link
  -->
  <script src="/js/FarmaciaWebVenta/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>