<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Farmacias Clínica Renacer</title>
        <link rel="shortcut icon" href="/img/FarmaciaWebVenta/logo/icono.png" type="image/x-icon">

        <!--
    - favicon
  -->
        <link rel="shortcut icon" href="/img/FarmaciaWebVenta/logo/icono.png" type="image/x-icon">
        <!--
   - custom css link
 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/FarmaciaWebVenta/style-prefix.css">
        <link rel="stylesheet" href="/css/FarmaciaWebVenta/style.css">


        <!--
    - google font link
  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- estilos de las otras vistas-->
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">

        <style>
            /* Estilos personalizados para los botones de paginación */
            .page-item.active .page-link {
                z-index: 3;
                color: #fff;
                background-color: #94a6b3;
                border-color: #94a6b3;
            }

        </style>
    </head>
    <body >

    <!--
   - HEADER
 -->

    <header th:replace="~{FarmaciaWebVenta/fragments_clinicaweb/cabecera.html :: cabecera}">
    </header>

        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div  class="col-sm-8 col-12 mb-4 mb-sm-0">
                                <h4 class="mb-0 ls-tight">Mis Órdenes</h4>
                            </div>
                        </div>
                    </div>



                    <!--TABLA-->
                    <div class="container table-responsive mb-3 invoice-box1">
                        <!--Mensajes de medicina agregada, eliminada y actualizada -->
                        <div class="row pt-3">
                            <div th:if="${del != null}" th:text="${del}" class="alert alert-danger" role="alert"></div>
                            <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
                        </div>
                        <table id="example" class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">Nro de orden</th>
                                    <th scope="col" class="text-center">Tipo de orden</th>
                                    <th scope="col" class="text-center">Destino</th>
                                    <th scope="col" class="text-center">Estado</th>
                                    <th scope="col" class="text-center">Tipo de Cobro</th>
                                    <th scope="col" class="text-center">Fecha de Registro</th>
                                    <th scope="col" class="text-center">Costo (S/.)</th>
                                    <th scope="col" class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="orden : ${listaOrdenes}">
                                    <td class="text-center">
                                        <a class="text-heading font-semibold" th:text="${orden.codigo}">

                                        </a>
                                    </td>
                                    <td class="text-center" th:text="${orden.tipoOrden.nombre}"></td>
                                    <td class="text-center" th:text="${orden.direccion}"></td>
                                    <td class="text-center" th:text="${orden.estadoOrden.nombre}"></td>
                                    <td class="text-center" th:text="${orden.tipoCobro.nombre}"></td>
                                    <td class="text-center" th:text="${orden.fechaRegistro}"></td>
                                    <td class="text-center" th:text="${orden.monto}"></td>
                                    <td class="text-center" >
                                     <!--   <a th:href="@{'/administradorsede/verOrden?idOrdenRepo=' + ${ordenRepo.idordenes}}">-->
                                        <div class="d-flex inline  ">
                                            <a th:href="@{'paciente/verPedido?idOrden=' + ${orden.idordenes}}">
                                                <button type="button" class="btn btn-sm btn-square btn-primary mx-1" >
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                                    </svg>
                                                </button>
                                            </a>


                                            <button type="button"
                                                    class="btn btn-sm btn-square btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalCancelar">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ban" viewBox="0 0 16 16">
                                                    <path d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0"/>
                                                </svg>
                                            </button>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Modal cancelar-->
                    <div class="modal fade" id="modalCancelar" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h3 class="modal-title fs-5">¿Está seguro de cancelar su orden?</h3>
                                </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary">Eliminar
                                        </button>
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <footer th:replace="~{FarmaciaWebVenta/fragments_clinicaweb/footer.html :: footer}">
        </footer>

        <!-- custom js link -->
        <script src="/js/FarmaciaWebVenta/script.js"></script>
        <!-- ionicon link -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script src="/js/Superadmin/table.js"></script>
        <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
        <script>
            new DataTable('#example');
        </script>

    </body>
</html>