/*bytewebster.com*/
/*bytewebster.com*/
/*bytewebster.com*/
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

textarea {
    height: 5px;
}

.icono svg{
    width: 100px;
    height: 100px;
    color: green
}

.icono1 svg{
    width: 100px;
    height: 100px;
    color: red
}

#myChart {
    max-width: 100%;
}
#myChart2 {
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display: block;
    
}
#myChart3 {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
}

/* Añadir estos estilos a tu archivo CSS */
